@charset "UTF=8";
  // ##########==========##########==========##########==========##########==========##########==========
// インクルーシブHTML + CSS参考
// ##########==========##########==========##########==========##########==========##########==========
@import 'styles/_inclusive';
// ##########==========##########==========##########==========##########==========##########==========
// HTML + CSS デザイン参考
// ##########==========##########==========##########==========##########==========##########==========
@import 'styles/var';
@import 'styles/base';
@import 'styles/conA';
@import 'styles/conB';
@import 'styles/conC';
@import 'styles/conD';
@import 'styles/footer';
@import 'styles/header';
@import 'styles/contents';
@import 'styles/list';
@import 'styles/tablet';
@import 'styles/pc';
@import 'styles/toc';

.skill-table {
  table{
    border:solid 1px #000000;
    border-collapse:collapse;
    width:700px;
  }
  table td{
    border:solid 1px #000000;
  }
  table th{
    border:solid 1px #000000;
  }
  div {
    padding-top:2px;
    padding-left:2px;
    padding-bottom:0px;
    padding-right:0px;
    vertical-align:top;
    margin:0px;
  }

  div.nopadding {
    padding:0px;
    margin:0px;
  }

  .clickcolumn {
    cursor:pointer;
  }

  span.clickcolumn {
    display:block;
  }

  .pain {
    border :2pt solid red;
    outline:2pt solid red;
    background : red;
  }

  .selected {
    background:black;
    color:white;
  }

  .spacer {
    width:17px;
    border-top:1pt solid black;
    border-right:1pt solid black;
    border-bottom:1pt solid black;
    border-left:1pt solid black;
  }

  .spacer_black {
    width:17px;
    color:white;
    border-top:1pt solid black;
    border-right:1pt solid black;
    border-bottom:1pt solid black;
    border-left:1pt solid black;
    background:black;
    font-size:9.0pt;
  }

  #learned\.0 {
    display:none;
  }

  .big {
    font-size:11.0pt !important;
  }

  .small {
    font-size:8.0pt !important;
  }

  .check {
    width:20px;
    text-align:center;
  }

  .baseinput {
    width:105px;
  }

  .basename {
    width:245px;
  }

  .basenum {
    width:45px;
    text-align:right;
  }

  .skillcol {
      text-align: center;
      height:18px;
  }
}