h2#first はじめに
img(class="top_image" src="images/woo.png" alt="イメージ画像"  title="LOST～廃墟の森の子供たち～")
p.preface
  | 大人たちは死に絶え、子どもたちは残された。
  | 日本中を森が覆い、異形の獣たちが我が物顔で闊歩する。
  | 変わり果てた世界。その中で、子どもたちは生きることを選択した。
  | 自分たちだけのサバイバル。これは、文明崩壊から５年後の物語。
p
  | これは、文明崩壊後の日本を生き延びる人々を演じるゲームです。
  | プレイヤーの分身であるキャラクター（以下、PC)は、
  | 物資を求めて危険な森を探索する冒険者となります。
p
  | #[a(href="https://ancientscars.wordpress.com/project-1-lost-trpg/" target="_brank") English version]
  | (#[a(href="https://twitter.com/GeneJBlackwell" target="_brank") Gene]さんが好意で英訳してくださっています。感謝！)
  
