footer
  .container
    .footA
      h2 LOSTRPG
      p: a(href="https://lostrpg-751c1.firebaseapp.com/lost") https://lostrpg-751c1.firebaseapp.com/lost/
      nav.footD
        ul
          li: a(href="https://twitter.com/hibohiboo" target="_blank"): span.fab.fa-twitter(title="Twitter")
    nav.footB
      div
        h3 キャラクターメイキング
        ul
          li: a(target="main" href="Survival-main.htm#first")  はじめに
          li: a(target="main" href="Survival-main.htm#world")  ワールド
          li: a(target="main" href="Survival-main.htm#camp")  キャンプ
          li: a(target="main" href="Survival-main.htm#charcter") キャラクター  
          li: a(target="main" href="Survival-main.htm#challenge")  行為判定
          li: a(target="main" href="Survival-main.htm#session")  セッション
      div
        h3 セッションの流れ
        ul
          li: a(target="main" href="Survival-main.htm#cycle")  サイクル
          li: a(target="main" href="Survival-main.htm#campF")  キャンプフェイズ
          li: a(target="main" href="Survival-main.htm#exploration")  探索フェイズ
          li: a(target="main" href="Survival-main.htm#battle") 戦闘
          li: a(target="main" href="Survival-main.htm#badstatus")  変調
          li: a(target="main" href="Survival-main.htm#lastbattle")  決戦フェイズ
          li: a(target="main" href="Survival-main.htm#ending")  結果フェイズ
          li: a(target="main" href="Survival-main.htm#afterplay")  セッション終了
          li: a(target="main" href="Survival-main.htm#implove")  キャラクターの成長
      div
        h3 ゲームマスターセクション
        ul
          li: a(target="main" href="Survival-main.htm#make-boss")  ＜ヌシ＞の作成
          li: a(target="main" href="Survival-main.htm#FAQ")  FAQ
          li: a(target="main" href="Survival-main.htm#sankou")  参考作品
          li: a(target="main" href="Survival-main.htm#sample-scenario")  サンプルシナリオ
          li: a(target="main" href="Survival-main.htm#sample-scenario2")  サンプルシナリオ2
      div
        h3 アペンディクス
        ul 
          li: a(target="main" href="Chart.htm")  チャート
          li: a(target="_parent" href="sheet.pdf")  キャラシートPDF
          li: a(target="main" href="add_data.htm")  追加データ

          li: a(target="main" href="Survival-main.htm#history")  更新履歴
          li: a(target="main" href="Survival_island.htm")  現代編：無人島シナリオ
          li: a(target="_blank" href="http://www.nicovideo.jp/watch/sm22594742")  ニコニコ動画：卓M@sリプレイ
    .footC © hibohiboo. All rights
