nav#nav-menu(aria-labelledby="contents-heading")
  h2(id="contents-heading") 目次
  button
    | #[a(href="#nav-menu"): svg: use(xlink:href="#navicon")]
    | #[span.visually-hidden メニュー]
    
  ul
    li: a(href="#first") はじめに
//- <nav aria-labelledby="contents-heading">
//- <ul>
//-   <li><a target="main" href="#first">はじめに</a></li>
//-   <li><a target="main" href="#world">ワールド</a></li>
//-   <li><a target="main" href="#camp">キャンプ</a></li>
//-   <li><a target="main" href="#charcter">キャラクター</a><span id="subbutton_charcter" class="subbutton">▽</span>
//-     <ul id="sub_charcter" class="sub_menu">
//-       <li><a target="main" href="#decide-class">クラス</a></li>
//-       <li><a target="main" href="#decide-skill">特技</a></li>
//-       <li><a target="main" href="#decide-ability">アビリティ</a></li>
//-       <li><a target="main" href="#decide-HP">体力</a></li>
//-       <li><a target="main" href="#decide-MP">気力</a></li>
//-       <li><a target="main" href="#decide-limitedweight">所持限界</a></li>
//-       <li><a target="main" href="#decide-item">アイテム</a></li>
//-     </ul>
//-   </li>
//-   <li><a target="main" href="#challenge">行為判定</a>
//-   <span id="subbutton_challenge" class="subbutton">▽</span>
//-   <ul id="sub_challenge" class="sub_menu">
//-   <li><a target="main" href="#challenge-flow">行為判定の流れ</a></li>
//-   <li><a target="main" href="#challenge-revise">修正</a></li>
//-   <li><a target="main" href="#challenge-special">スペシャルとファンブル</a></li>
//-   <li><a target="main" href="#challenge-objection">つっこみ</a></li>
//-   <li><a target="main" href="#challenge-puropose">プレイヤーの提案</a></li>

//-   </ul>
//-   </li>
//-   <li><a target="main" href="#session">セッション</a></li>
//-   <li><a target="main" href="#cycle">サイクル</a></li>
//-   <li><a target="main" href="#campF">キャンプフェイズ</a></li>
//-   <li><a target="main" href="#exploration">探索フェイズ</a></li>
//-   <li><a target="main" href="#battle">戦闘</a><span id="subbutton_battle" class="subbutton">▽</span>
//-   <ul id="sub_battle" class="sub_menu">
//-   <li><a target="main" href="#battle-round">ラウンドの流れ</a></li>
//-   <li><a target="main" href="#battle-initiative">先制判定</a></li>
//-   <li><a target="main" href="#battle-action">戦闘中の行動</a></li>
//-   <li><a target="main" href="#battle-damage">ダメージと死亡</a></li>
//-   <li><a target="main" href="#battle-enemy">敵の行動</a></li>
//-   <li><a target="main" href="#battle-dodge">回避判定</a></li>
//-   <li><a target="main" href="#battle-secondaction">追加行動</a></li>
//-   <li><a target="main" href="#battle-special">スペシャルとファンブル</a></li>
//-   <li><a target="main" href="#badstatus">変調</a></li>
//-   </ul>
//-   </li>
//-   <li><a target="main" href="#lastbattle">決戦フェイズ</a></li>
//-   <li><a target="main" href="#ending">結果フェイズ</a></li>
//-   <li><a target="main" href="#afterplay">セッション終了</a></li>
//-   <li><a target="main" href="#implove">キャラクターの成長</a></li>
//-   <li><a target="main" href="#make-boss">＜ヌシ＞の作成</a></li>
//-   <li><a target="main" href="#FAQ">FAQ</a></li>
//-   <li><a target="main" href="#sankou">参考作品</a></li>
//-   <li><a target="main" href="#sample-scenario">サンプルシナリオ</a></li>
//-   <ul>
//-   <li><a target="_parent" href="reply/reply1.htm">リプレイ</a>

//-   </ul>
//-   <li><a target="main" href="#sample-scenario2">サンプルシナリオ2</a></li>
//-   <ul>
//-   <li><a target="_parent" href="reply/reply2.htm">リプレイ2</a>
//-   </ul>
//-   <li><a target="main" href="Chart.htm">チャート</a>
//-   <span id="subbutton_chart" class="subbutton">▽</span>
//-   <ul id="sub_chart" class="sub_menu">
//-   <li><a target="main" href="Chart.htm#name">名前</a></li>
//-   <li><a target="main" href="Chart.htm#table-camp">キャンプ</a></li>
//-   <li><a target="main" href="Chart.htm#table-item">アイテム</a></li>
//-   <li><a target="main" href="Chart.htm#table-skill">特技</a></li>
//-   <li><a target="main" href="Chart.htm#table-ability">アビリティ</a></li>
//-   <li><a target="main" href="Chart.htm#table-exploration">探索フェイズ</a></li>
//-   <li><a target="main" href="Chart.htm#table-battle">戦闘</a></li>
//-   <li><a target="main" href="Chart.htm#table-enemy">エネミー</a></li>
//-   </ul>
//-   <li><a target="_parent" href="">本文のみ</a></li>
//-   <li><a target="_parent" href="Chart.htm">チャートのみ</a></li>
//-   <li><a target="_parent" href="sheet.pdf">キャラシートPDF</a></li>
//-   <li><a target="main" href="add_data.htm">追加データ</a></li>
//-   </li>
//-   <li><a target="main" href="#history">更新履歴</a></li>
//-   <li><a target="main" href="Survival_island.htm">現代編：無人島シナリオ</a></li>
//-   <li><a target="_blank" href="http://www.nicovideo.jp/watch/sm22594742">ニコニコ動画：卓M@sリプレイ</a></li>
//-   </ul>
//- </nav>