section.overview
  div.container
    .text
      //- span.iconで丸型にしたボックスの真ん中にアイコンを表示
      span.icon: span.fa.fa-book
      h2 ルールブック
      p 子供たちが森や廃墟を巡るサバイバルTRPG。
      a(href="#first") more... #[span.fas.fa-chevron-right]

    .text
      span.icon: span.fa.fa-gamepad
      h2 シナリオ
      p すぐに遊べるサンプルシナリオを公開中。
      a(href="#scenario") more... #[span.fas.fa-chevron-right]

    .text
      span.icon: span.fa.fa-file-alt
      h2 リプレイ
      p サンプルシナリオを遊んだ様子の読み物。
      a(href="#replay") more... #[span.fas.fa-chevron-right]

