footer
  .container
    .footA
      h2 LOSTRPG
      p: a(href="https://lostrpg-751c1.firebaseapp.com/lost") https://lostrpg-751c1.firebaseapp.com/lost/
      nav.footD
        ul
          li: a(href="https://twitter.com/hibohiboo" target="_blank"): span.fab.fa-twitter(title="Twitter")
          li: a(href="https://github.com/hibohiboo/lostrpg" target="_blank"): span.fab.fa-github(title="Github")
    nav.footB
      div
        h3 プレイヤーセクション
        ul
          li: a(href="rulebook.html#first")  はじめに
          li: a(href="rulebook.html#world")  ワールド
          li: a(href="rulebook.html#camp")  キャンプ
          li: a(href="rulebook.html#charcter") キャラクター  
          li: a(href="rulebook.html#check")  行為判定
          li: a(href="rulebook.html#session")  セッション
      div
        h3 セッションの流れ
        ul
          li: a(href="rulebook.html#cycle")  サイクル
          li: a(href="rulebook.html#campF")  キャンプフェイズ
          li: a(href="rulebook.html#exploration")  探索フェイズ
          li: a(href="rulebook.html#battle") 戦闘
          li: a(href="rulebook.html#badstatus")  変調
          li: a(href="rulebook.html#lastbattle")  決戦フェイズ
          li: a(href="rulebook.html#ending")  結果フェイズ
          li: a(href="rulebook.html#afterplay")  セッション終了
          li: a(href="rulebook.html#implove")  キャラクターの成長
      div
        h3 ゲームマスターセクション
        ul
          li: a(href="rulebook.html#make-boss")  ＜ヌシ＞の作成
          li: a(href="rulebook.html#FAQ")  FAQ
          li: a(href="rulebook.html#sankou")  参考作品
          li: a(href="rulebook.html#sample-scenario")  サンプルシナリオ
          li: a(href="rulebook.html#sample-scenario2")  サンプルシナリオ2
          li: a(href="scenario-island.html")  現代編：無人島シナリオ
      div
        h3 その他
        ul 
          li: a(href="chart.html")  チャート
          li: a(href="summary.html")  サマリー
          li: a(href="/assets/data/sheet.pdf")  キャラシートPDF
          li: a(href="supplement-strange-fields.html")  サプリ：終末列島百景
          li: a(href="history.html")  更新履歴
          li: a(target="_blank" href="http://www.nicovideo.jp/watch/sm22594742")  ニコニコ動画：卓M@sリプレイ
    .footC © hibohiboo. All rights.
