script(src="https://platform.twitter.com/widgets.js",charset="utf-8")
script.
  tocbot.init({
    tocSelector: '.js-toc',
    contentSelector: '.js-toc-content',
    headingSelector: 'h1, h2, h3',
    collapseDepth: 3,
    hasInnerContainers: true,
    onClick: ()=>document.getElementById('toc').checked = false
  });