extends ../includes/common/_layout
block title
  - var title = "LOST～廃墟の森の子供たち～"
  - var bodyClass = "nohero"
  title= title

block css
  link(href="../../assets/css/styles.css" rel="stylesheet" )
  
block footjs
  script(src="../../assets/js/forms/characters.js")

block body
  header
    include ../includes/common/header
  main
    section.content
      .container
        div#main 読み込み中...

  include ../includes/common/footer