section#world
  h2#world-title ワールド追加
  h3#world-fragment 星の欠片
  p 強力な＜ヌシ＞を倒したとき、その体から宝石が出てくることがあります。宝石は金平糖のようなその形から＜星の欠片＞と呼ばれています。
  p 関マゴロクキャンプでは、＜星の欠片＞を使って装備を強化する方法が発見されました。
  p 彼らは近隣のキャンプにそれを伝え、ラジオでも広めようと発信しています。
  p ＜星の欠片＞の正体は判明していません。ハカセたちが研究したがっていますが、各キャンプではショクニンの手により装備強化に使われてしまいます。
    | 隕石の欠片だとか、ウイルス結晶だとか仮説をたてるに留まっています。
  h3#world-dragon-plain 関ヶ原暴竜平原
  p 5年前、富士山に落ちた隕石の片割れは岐阜のほうにも落下しました。
    | 流星雨が降り注いだ後、化石が展示されていた博物館からは恐竜たちが飛び出していきました。
    | 恐竜たちは＜星の欠片＞を宿した強力な＜ヌシ＞となり、関ヶ原をはじめとした岐阜の各地に＜フィールド＞を発生させました。
  p 恐竜たちの支配する＜フィールド＞は特に広大で特異な＜重異形化フィールド＞となり、関ヶ原を中心とした地域は「暴竜平原」と呼ばれるようになりました。
  p 過酷な地域ですが、 そこに住む子供たちは全滅したわけではありません。
  p ＜フィールド＞の隙間で身を潜めているキャンプもあれば、＜星の欠片＞を集め、最前線を押し上げていく強力なキャンプも存在します。
  h3#world-god-tonnel 飛騨神岡大空洞
  p 飛騨高山の大鍾乳洞と、神岡鉱山は＜重異形化フィールド＞となり、繋がりました。
  p 神岡鉱山跡にあった研究施設カミオカンデは行方不明となり、＜星の欠片＞がまれに算出される鉱山となっています。
  p 「飛騨神岡大空洞」内では複数の＜ヌシ＞が縄張りを持つ巨大なダンジョンになっています。
  p 冒険者たちは縄張りの隙間の緩衝地帯をうまく探し出し、ツルハシをふるって素材を集めています。


