//- 変数一覧
- var title="サプリメント 関ヶ原暴竜平原: LOST～廃墟の森の子供たち～"

-
  var dragonPlainItemList = [
    {"name":"抗生物質","j":"10","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"変調を全て回復する"},
    {"name":"森の恵み","j":"15","weight":"2","type":"支援","area":"-","specialty":"-","target":"単体","trait":"消耗品","effect":"対象の【体力】・【気力】を5点増加する"},
    {"name":"奇跡の雫","j":"20","weight":"2","type":"支援","area":"-","specialty":"-","target":"単体","trait":"消耗品","effect":"対象の部位ダメージを1つ回復し、変調を全て回復する"},
    {"name":"銀の矢","j":"5","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"消耗品、使用回数:10","effect":"ボウガン/弓の矢。アビリティ【腐敗】を持つ敵に対して攻撃が成功した場合、ダメージをプラス3し、さらに気力を2点減らす"},
    {"name":"毒の矢","j":"5","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"消耗品、使用回数:10、アビリティ強化","effect":"ハンター専用。ボウガン/弓の矢。攻撃対象の【体力】が減少したとき、『毒』の変調を与える効果を追加する。また、【毒矢】のアビリティ使用時に消費すると、ダメージをプラス2し反動を1減らすことができる"},
    {"name":"ダウジングツール","j":"2","weight":"1","type":"支援","area":"-","specialty":"-","target":"-","trait":"消耗品","effect":"ニューエイジ・オガミヤ専用。探索フェイズで[オブジェクトへの接触]を2回行う。また、この時に振る判定や表を1回だけ振りなおすことができる。"},
    {"name":"爆竹玉","j":"5","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"消耗品","effect":"スリングで投げることができる。攻撃の対象に5点の防御無視ダメージを与える。"},
    {"name":"臭い玉","j":"5","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"消耗品","effect":"スリングで投げることができる。攻撃の対象に追加で2点の気力ダメージを与える。"},
    {"name":"けむりだま","j":"3","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"＜ヌシ＞以外からの戦闘からの逃走判定の直前に使用する。逃走判定の達成値にプラス4の修正がつく"},
    {"name":"しもふりにく","j":"4","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"食料、消耗品、アビリティ強化","effect":"カイヌシの【群れ攻撃】で消費する食料2つをこのアイテム1つの消費でまかなうことができる。さらに、攻撃の対象を「2体」に変更することができる。"},
    {"name":"わらにんぎょう","j":"5","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品、アビリティ強化","effect":"オガミヤの【呪術】の判定に成功したときに使用する。【呪術】で与えた『毒』で減少する【体力】を[1d6+【呪術】使用者の部位ダメージ数]点に変更する。"},
    {"name":"結界符","j":"5","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品、アビリティ強化","effect":"オガミヤ専用。オガミヤの【結界】成功時に割込んで使用できる。あなたは未行動状態となる。"},
    {"name":"いくさ化粧","j":"5","weight":"2","type":"支援","area":"-","specialty":"-","target":"自身","trait":"消耗品、アビリティ強化","effect":"ヤセイジの【抜刀牙】で与えるダメージが[2d6]点となり、消費する気力も同じ点数となる。また、攻撃後、敵の体力が0以下の場合、【抜刀牙】で消費する気力は0点となり、【体力】と【気力】が1点増加する。この効果はセッション中持続する。"},

    {"name":"ツルハシ","j":"9","weight":"4","type":"装備","area":"両手","specialty":"《刺す》《振る》","target":"単体","trait":"武器、白兵","effect":"攻撃力3。"},
    {"name":"斧","j":"7","weight":"4","type":"装備","area":"片手","specialty":"《斬る》《振る》","target":"単体","trait":"武器、白兵","effect":"攻撃力3。"},
    {"name":"シャベル","j":"12","weight":"4","type":"装備","area":"両手","specialty":"《殴る》","target":"単体","trait":"武器、白兵、判定強化","effect":"攻撃力4。《罠》が指定特技の判定の達成値にプラス1の修正がつく。"},
    {"name":"盾","j":"20","weight":"2","type":"装備","area":"片手","specialty":"《殴る》","target":"単体","trait":"武器、白兵","effect":"攻撃力1。回避判定の達成値にプラス1の修正がつく。"},
    {"name":"銀の首飾り","j":"5","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"","effect":"＜フィールド＞に入った時に【体力】が3点増加する。"},
    {"name":"ゴーグル","j":"10","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"アビリティ強化","effect":"ハンターの【アビリティ】を使用する直前に、追加で1点の気力を払うことができる。そうした場合、達成値にプラス1の修正がつく。"},
    {"name":"モノクル","j":"10","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"判定強化","effect":"《見つける》が指定特技の判定にプラス1の修正がつく。"},
    {"name":"浄化の聖印","j":"15","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"","effect":"アビリティ【腐敗】【悪臭】を無効化する。"},
    {"name":"リボン","j":"100","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"","effect":"あらゆる変調から身を守る。"},

    {"name":"風見鶏のスカーフ","j":"20","weight":"1","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"判定強化","effect":"先制判定の達成値にプラス1の修正がつく。"},
    {"name":"赤い服","j":"2","weight":"2","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"牛/虎の姿の敵があなただけを狙ってくる。その敵を倒したとき、体力・気力が3点増加する。"},
    {"name":"サバイバルベスト","j":"15","weight":"2","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"【体力基準値】をプラス1する。"},
    {"name":"快適な下着","j":"10","weight":"1","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"【気力基準値】をプラス1する。"},
    {"name":"もふもふコート","j":"10","weight":"4","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"環境効果『極寒』の影響を受けない。"},
    {"name":"トラップツール","j":"15","weight":"4","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"アビリティ強化、判定強化","effect":"ハンターの【影牢】のダメージ量を[対象が受けている変調×2]点に変更する。《罠》が指定特技の判定にプラス1の修正がつく。"},
    {"name":"アイドル衣装","j":"15","weight":"2","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"アビリティ強化","effect":"アイドルの【応援歌】【熱狂のビート】が指定特技の判定に失敗しても効果を発揮するようになり、判定に成功した場合、あなたは未行動状態になる。"},


    {"name":"パワーグラブ","j":"10","weight":"1","type":"装備","area":"腕部","specialty":"-","target":"自身","trait":"判定強化","effect":"《掴む》が指定特技の判定にプラス1の修正がつく。"},
    {"name":"投手の手袋","j":"10","weight":"1","type":"装備","area":"腕部","specialty":"-","target":"自身","trait":"判定強化","effect":"《投げる》が指定特技の判定にプラス1の修正がつく。"},
    {"name":"ロンググローブ","j":"10","weight":"1","type":"装備","area":"腕部","specialty":"-","target":"自身","trait":"","effect":"アビリティ【冷気】の影響を受けない。"},

    {"name":"水かき","j":"5","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"水中で行う《泳ぐ》が指定特技の判定にプラス2の修正がつく。"},
    {"name":"俊足スニーカー","j":"15","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"《走る》が指定特技の判定にプラス1の修正がつく。探索フェイズ時、障害の突破判定でスペシャルを出すと、行動済にならず続けて行動できる。"},
    {"name":"フィットシューズ","j":"20","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"《バランス》が指定特技の判定にプラス1の修正がつく。『瓦礫』などの足場ペナルティ無効。アビリティ【地震】無効。"},
    {"name":"忍者の足袋","j":"20","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"《歩く》《隠れる》が指定特技の判定にプラス1の修正がつく。"},
    {"name":"ペガサスの靴","j":"30","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"《走る》《跳ぶ》《踏む》が指定特技の判定にプラス1の修正がつく。"},

    {"name":"星の欠片:赤","j":"10","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"金平糖の形をしている赤色の宝石。武器の＜ダメージ強化＞に使用できる。"},
    {"name":"星の欠片:緑","j":"10","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"金平糖の形をしている緑色の宝石。武器の＜命中強化＞に使用できる。"},
    {"name":"星の欠片:青","j":"10","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"金平糖の形をしている青色の宝石。防具の＜ダメージ軽減＞に使用できる。"},
    {"name":"星の欠片:黄","j":"10","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"金平糖の形をしている黄色の宝石。防具の＜回避力強化＞に使用できる。"},
    {"name":"星の欠片:白","j":"10","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"三日月の形をしている白色の宝石。防具の＜高品質化＞に使用できる。"},

  ]

-
  var dragonPlainAbilityList = [
    {
      "name": "ハンター",
      "id": "hunter",
      "list": [
        {"name":"十字砲火","group":"ハンター","type":"補助","recoil":"-","specialty":"-","target":"-","effect":"射撃攻撃の命中判定に組み合わせて使用できる。矢/弾を10消費することで、その攻撃の対象を[2体]にできる。この時、同対象を選択することもでき、その場合、攻撃の処理を2回行う。"},
      ]
    },
    {
      "name": "ショクニン",
      "id": "worker",
      "list": [
        {"name":"剣の丘で鉄をうつ","group":"ショクニン","type":"支援","recoil":"3","specialty":"《作る》","target":"アイテム","effect":"指定特技の判定に成功すると、装備の強化を行うことができる。"},
      ]
    },
  ]
-
  var dragonPlainEquipmentList = [
    {"name":"映画館","cp":"2","type":"常駐","specialty":"なし","maxLv":"10","precondition":"","effect":"キャンプを出発するとき、全員の【体力】を[Lv]点増加する。"},
  ]

-
  var bossFragmentList = [
    {"name":"星の欠片:赤", "description":"追加ダメージをプラス1する。" },
    {"name":"星の欠片:緑", "description":"命中判定にプラス1の修正がつく。" },
    {"name":"星の欠片:青", "description":"ダメージを1点軽減する。" },
    {"name":"星の欠片:黄", "description":"【気力】【体力】が5点増加する。" },
    {"name":"星の欠片:白", "description":"アビリティを1つ追加で取得する。" },
  ]
-
  var recipeFragmentList = [
    {"name":"攻撃力強化", "Lv":1, "recipe":"5J + <星の欠片:赤> x 1", "description":"武器の攻撃力をプラス1する。" },
    {"name":"攻撃力強化", "Lv":2, "recipe":"10J + <星の欠片:赤> x 2", "description":"武器の攻撃力をプラス2する。" },
    {"name":"攻撃力強化", "Lv":3, "recipe":"15J + <星の欠片:赤> x 3", "description":"武器の攻撃力をプラス3する。" },

    {"name":"命中力強化", "Lv":1, "recipe":"5J + <星の欠片:緑> x 1", "description":"武器を使った命中判定にプラス1の修正がつく。" },
    {"name":"命中力強化", "Lv":2, "recipe":"10J + <星の欠片:緑> x 2", "description":"武器を使った命中判定にプラス2の修正がつく。" },
    {"name":"命中力強化", "Lv":3, "recipe":"15J + <星の欠片:緑> x 3", "description":"武器を使った命中判定にプラス3の修正がつく。" },

    {"name":"防御力強化", "Lv":1, "recipe":"2J + <星の欠片:青> x 1", "description":"ダメージを1点軽減する。" },
    {"name":"防御力強化", "Lv":2, "recipe":"4J + <星の欠片:青> x 2", "description":"ダメージを2点軽減する。" },
    {"name":"防御力強化", "Lv":3, "recipe":"6J + <星の欠片:青> x 3", "description":"ダメージを3点軽減する。" },

    {"name":"回避力強化", "Lv":1, "recipe":"5J + <星の欠片:黄> x 1", "description":"回避判定にプラス1の修正がつく。" },
    {"name":"回避力強化", "Lv":2, "recipe":"10J + <星の欠片:黄> x 2", "description":"回避判定にプラス2の修正がつく。" },
    {"name":"回避力強化", "Lv":3, "recipe":"15J + <星の欠片:黄> x 3", "description":"回避判定にプラス3の修正がつく。" },

    {"name":"高品質化", "Lv":1, "recipe":"<星の欠片:白> x 1", "description":"装備をひとつ『☾高品質』にする" },
  ]

-
  var dragonPlainGreaterItemList = [
    {"name":"☾銀の首飾り","j":"5","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"","effect":"＜フィールド＞に入った時に【体力】と【気力』が6点増加する。"},
    {"name":"☾ゴーグル","j":"10","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"アビリティ強化","effect":"ハンターの【アビリティ】を使用する直前に、追加で1点の気力を払うことができる。そうした場合、達成値にプラス3の修正がつく。"},
    {"name":"☾モノクル","j":"10","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"判定強化","effect":"《見つける》が指定特技の判定にプラス3の修正がつく。"},
    {"name":"☾浄化の聖印","j":"15","weight":"1","type":"装備","area":"頭部","specialty":"-","target":"自身","trait":"","effect":"アビリティ【腐敗】【悪臭】を無効化する。さらに、それらのアビリティを持つ相手に与えるダメージをプラス5する。"},

    {"name":"☾ポケットジャケット","j":"12","weight":"2","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"ポケットのたくさんついたジャケット。所持限界プラス9"},
    {"name":"☾風見鶏のスカーフ","j":"20","weight":"1","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"判定強化","effect":"先制判定の達成値にプラス2の修正がつく。"},
    {"name":"☾サバイバルベスト","j":"15","weight":"2","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"【体力基準値】をプラス3する。"},
    {"name":"☾快適な下着","j":"10","weight":"1","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"【気力基準値】をプラス5する。"},
    {"name":"☾もふもふコート","j":"10","weight":"4","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"環境効果『極寒』の影響を受けない。炎や氷のダメージを2点軽減する。『炎上』無効化。"},
    {"name":"☾トラップツール","j":"15","weight":"4","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"アビリティ強化、判定強化","effect":"ハンターの【影牢】のダメージ量を[対象が受けている変調×3]点に変更する。《罠》が指定特技の判定にプラス2の修正がつく。"},

    {"name":"☾パワーグラブ","j":"10","weight":"1","type":"装備","area":"腕部","specialty":"-","target":"自身","trait":"判定強化","effect":"《掴む》が指定特技の判定にプラス3の修正がつく。"},
    {"name":"☾投手の手袋","j":"10","weight":"1","type":"装備","area":"腕部","specialty":"-","target":"自身","trait":"判定強化","effect":"《投げる》が指定特技の判定にプラス3の修正がつく。"},
    {"name":"☾ロンググローブ","j":"10","weight":"1","type":"装備","area":"腕部","specialty":"-","target":"自身","trait":"","effect":"アビリティ【冷気】の影響を受けない。ダメージを1点軽減する。"},

    {"name":"☾水かき","j":"5","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"水中で行う《泳ぐ》が指定特技の判定にプラス4の修正がつく。"},
    {"name":"☾俊足スニーカー","j":"15","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"《走る》が指定特技の判定にプラス3の修正がつく。探索フェイズ時、障害の突破判定でスペシャルを出すと、行動済にならず続けて行動できる。突破判定にプラス1の修正がつく。"},
    {"name":"☾フィットシューズ","j":"20","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"《バランス》が指定特技の判定にプラス3の修正がつく。『瓦礫』などの足場ペナルティ無効。アビリティ【地震】無効。"},
    {"name":"☾忍者の足袋","j":"20","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"《歩く》《隠れる》が指定特技の判定にプラス3の修正がつく。"},
    {"name":"☾ペガサスの靴","j":"30","weight":"2","type":"装備","area":"脚部","specialty":"-","target":"自身","trait":"判定強化","effect":"《走る》《跳ぶ》《踏む》が指定特技の判定にプラス3の修正がつく。"},

  ]
