:root {
  --paper-size: JIS-A6; /* 版型. B6 = 128mm x 182mm */
  --top-margin: 20mm; /* 天 */
  --bottom-margin: 10mm; /* 地 */
  --inside-margin: 20mm; /* ノド */
  --outside-margin: 13mm; /* 小口 */

  --base-font-size: 13Q; /* 本文中のベース文字サイズ */
  --page-font-size: 10Q; /* 本文外(ノンブル(ページ番号)など)の文字サイズ */
  --leading: 24Q; /* 行送り */

}

/**
  単位につて
   Q: Q数(0.25ミリ)
   in: インチ
   lh: 行送りを1とした単位
   rlh: ルート要素の行送りを1とした単位

   1インチ = 96px = 72pt = 25.4mm = 101.6Q
   1mm = 3.779.... ≒ 3.78px
*/

/**
  text-spacingは約物(句読点やカッコ類のこと)の間を自動的にツメる。
  さらに半角英数字と日本語の文字の間にアキ(文字サイズの1/8)を入れて読みやすくする。
  一般的にはautoかnormalを使う、何らかの理由で無効化したい場合はnoneを使う。
  auto:   連続約物詰め、行頭約物詰め、        行末約物詰め、和欧文間スペース
  normal: 連続約物詰め、折り返し行頭約物詰め、行末約物詰め、和欧文間スペース

  https://www.w3.org/TR/css-text-4/#text-spacing-property
*/