:root {
  --paper-size: JIS-B6; /* 版型. B6 = 128mm x 182mm */
  --top-margin: 10mm; /* 天 */
  --bottom-margin: 10mm; /* 地 */
  --inside-margin: 20mm; /* ノド */
  --outside-margin: 13mm; /* 小口 */

  --base-font-size: 13Q; /* 本文中のベース文字サイズ */
  --base-font-family: 'Noto Sans JP'; /* 太さは400と70をインポート */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --page-font-size: 10Q; /* 本文外(ノンブル(ページ番号)など)の文字サイズ */
  --leading: 24Q; /* 行送り */

  --distance-from-page_number-and-printing_plate: 4mm;/* 反面端からの距離 */
  --head-break-setting: verso; /* 見出しの前で改ページする設定 */
}

/**
  単位につて
   Q: Q数(0.25ミリ)
   in: インチ
   lh: 行送りを1とした単位
   rlh: ルート要素の行送りを1とした単位

   1インチ = 96px = 72pt = 25.4mm = 101.6Q
   1mm = 3.779.... ≒ 3.78px
*/

/**
  text-spacingは約物(句読点やカッコ類のこと)の間を自動的にツメる。
  さらに半角英数字と日本語の文字の間にアキ(文字サイズの1/8)を入れて読みやすくする。
  一般的にはautoかnormalを使う、何らかの理由で無効化したい場合はnoneを使う。
  auto:   連続約物詰め、行頭約物詰め、        行末約物詰め、和欧文間スペース
  normal: 連続約物詰め、折り返し行頭約物詰め、行末約物詰め、和欧文間スペース

  https://www.w3.org/TR/css-text-4/#text-spacing-property
*/

/**
  font: Noto Sans JP
  https://fonts.google.com/noto/specimen/Noto+Sans+JP

*/

/**
  改ページについて(break-before, break-after,break-insideの設定値)

  page その位置で改ページ
  column その位置で改段
  always 段組み内では改段。段組みでない場合は改ページ
  left  ページが左始まりになるよう１，２回の改ページを行う
  right ページが右始まりになるよう１，２回の改ページを行う
  recto 奇数ページになるよう１，２回の改ページを行う
  verso 偶数ページになるよう１，２回の改ページを行う
  avoid その位置での改ページや改段を避ける
  avoid-page
  avoid-column

  avoidは予想外に次ページに送られすぎる可能性。結果の予想が難しいので、
  どうしても分離させたくないときに `break-inside:avoid;` を使うくらいに留めておくのが無難。

  versoは話が必ず左ページから始まるので、初心者が読みやすいとされる設定。
+/