section#reply.conC2
  .container
    .image
    .text
      h2 リプレイ
      p.text サバイバルTRPG LOSTのサンプルシナリオを遊んだ風景を読み物にしたリプレイを公開しています。
      a(href="reply-sample1.html") 塩と胡椒 #[span.fas.fa-chevron-right]
      a(href="reply-sample2.html") 嵐と濁流 #[span.fas.fa-chevron-right]
