section#reply.conC2
  .container
    .image
    .text
      h2 リプレイ
      p.text サバイバルTRPG LOSTのサンプルシナリオを遊んだ風景を読み物にしたリプレイを公開しています。
      a(href="reply-sample1.html") 塩と胡椒 #[span.fas.fa-chevron-right]
      a(href="reply-sample2.html") 嵐と濁流 #[span.fas.fa-chevron-right]
      p.text リプレイ動画を名倉三吾@逸般人卓さんが公開してくださっています。感謝！
      a(href="https://youtu.be/E2rpPdyfvQ8" target="_blank") 嵐と濁流 #[span.fas.fa-chevron-right]
