section#rulebook.conC
  .container
    .image
    .text
      h2 ルールブック
      p.text サバイバルTRPG LOSTのルールブックを公開しています。
      a(href="rulebook.html") ルールブックを開く #[span.fas.fa-chevron-right]
      a(href="https://ancientscars.wordpress.com/project-1-lost-trpg/") English Version #[span.fas.fa-chevron-right]
      p Geneさん(twitter:@GeneJBlackwell)が好意で英訳してくださっています。感謝！)
      a(href="https://sites.google.com/site/lostrfc/") 中文版 #[span.fas.fa-chevron-right]
      p Hazmoleさん(twitter:@buzzfirefox )が好意で中国語訳してくださっています。感謝！)
      a(href="https://aken-trpg.postype.com/post/4337646") 한국어 버전 #[span.fas.fa-chevron-right]
      p 아켄さん(twitter:@aken_gaming )が好意で韓国語訳してくださっています。感謝！)
      a(href="supplement-strange-fields.html")  サプリメント：終末列島百景 #[span.fas.fa-chevron-right]
