section#scenario.conD
  .container
    .image
    .text
      h2 シナリオ
      p すぐに遊べるサンプルシナリオを用意しています。
      a(href="scenario-sample.html") 塩と胡椒  #[span.fas.fa-chevron-right]
      a(href="#scenario-sample.html#sample-scenario2") 嵐の濁流 #[span.fas.fa-chevron-right]
      a(href="scenario-island.html") 現代編：無人島漂流記 #[span.fas.fa-chevron-right]
