section#scenario.conD
  .container
    .image
    .text
      h2 シナリオ
      p すぐに遊べるサンプルシナリオを用意しています。
      a(href="scenario-sample.html") 塩と胡椒  #[span.fas.fa-chevron-right]
      a(href="scenario-sample.html#sample-scenario2") 嵐の濁流 #[span.fas.fa-chevron-right]
      a(href="scenario-island.html") 現代編：無人島漂流記 #[span.fas.fa-chevron-right]
      a(href="https://labans-lab.booth.pm/items/2749749" target="_blank") きずなバッジ #[span.fas.fa-chevron-right]
      p 戯言脳髄Laboratoryさんがシナリオを公開してくださっています。感謝！

      a(href="https://labans-lab.booth.pm/items/2985062" target="_blank") プリーズラジオアゲイン #[span.fas.fa-chevron-right]
      a(href="https://labans-lab.booth.pm/items/3105601" target="_blank") ダイブアンダーグラウンド #[span.fas.fa-chevron-right]

      p uniさんがシナリオを公開してくださっています。感謝！

      a(href="campaign-mother.html") Mother #[span.fas.fa-chevron-right]

      p はぐれけだまさんがキャンペーンを公開してくださっています。感謝！

      a(href="https://talto.cc/c/lost" target="_blank") TALTO #[span.fas.fa-chevron-right]
      p シナリオ投稿サイト: TALTO様でも公開されているシナリオがあります。
