.
  <hr><!--*******************************************************-->
  <section id="sankou">
  <hgroup>
  <h1 >参考作品</h1>
  <dl>
  <dt>リセット・ワールド</dt>
  <dd>著：鷹見一幸。伝染病の蔓延により世界は一度リセットされました。
  この世界がイメージの大本です。
  <a href="http://ja.wikipedia.org/wiki/%E3%83%AA%E3%82%BB%E3%83%83%E3%83%88%E3%83%BB%E3%83%AF%E3%83%BC%E3%83%AB%E3%83%89">
  →wikipedia
  </a></dd>
  <dt>デジモンアドベンチャー</dt>
  <dd>子供たちがデジタルワールドでデジモンたちとサバイバルな冒険をします。
  子供たちの戦いという意味で参考になるでしょう。
  <a href="http://ja.wikipedia.org/wiki/%E3%83%87%E3%82%B8%E3%83%A2%E3%83%B3%E3%82%A2%E3%83%89%E3%83%99%E3%83%B3%E3%83%81%E3%83%A3%E3%83%BC">
  →wikipedia
  </a>
  <dt>サバイバル・キッズ～孤島の冒険者～</dt>
  <dd>コナミ制作。無人島で子供が1人でいき、そして脱出するゲームです。
  古代遺跡もあって、浪漫あふれる一作、無人島のサプリも作りたいですね。
  <a href="http://ja.wikipedia.org/wiki/%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB%E3%82%AD%E3%83%83%E3%82%BA#.E5.AD.A4.E5.B3.B6.E3.81.AE.E5.86.92.E9.99.BA.E8.80.85">
  →wikipedia
  </a>
  </dd>
  </dd>
  <dt>少女終末旅行</dt>
  <dd>廃墟を巡る、二人旅。明るさを失わない二人の姿はホープのイメージにぴったりです。<a href="http://www.kurage-bunch.com/manga/shojoshumatsu/">→くらげバンチ</a></dd>
  <dt>クレヨンしんちゃん映画版</dt>
  <dd>家族・仲間の絆はキャンプのつながりの参考になるでしょう。
  この世界は、もう少しだけ血の匂いがしますけれども。
  </dd>
  <dt>僕らの勇気・未満都市</dt>
  <dd>キンキキッズ主演。隕石の落下で20歳以上を殺すウイルスがばら撒かれ、
  都市は大きな壁で閉鎖されます。
  土曜九時のドラマ、大好きでした。
  <a href="http://ja.wikipedia.org/wiki/%E3%81%BC%E3%81%8F%E3%82%89%E3%81%AE%E5%8B%87%E6%B0%97_%E6%9C%AA%E6%BA%80%E9%83%BD%E5%B8%82">
  →wikipedia
  </a>
  </dd>
  <dt>神秘の島</dt>
  <dd>著：ジュール・ベルヌ。
  ロビンソン・クルーソーや十五少年漂流記のような無人島サバイバルもののなかで、
  屈指の名作だと思います。
  マッチ一本、麦一粒から生み出される文明は圧巻です。
  0からの家つくり、道具作りの参考になるでしょう。
  <a href="http://ja.wikipedia.org/wiki/%E7%A5%9E%E7%A7%98%E3%81%AE%E5%B3%B6">
  →wikipedia
  </a>
  </dd>
  <dt>サバイバル</dt>
  <dd>著：さいとうたかを。崩壊した日本を生き抜く少年の物語です。
  <a href="http://ja.wikipedia.org/wiki/%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB_%28%E6%BC%AB%E7%94%BB%29">
  →wikipedia
  </a></dd>
  <dt>冒険図鑑～野外で生活するために～</dt>
  <dd>さとうち藍文 /松岡達英絵　福音館書店。実際に使える野外の技術がいっぱい。子供向けとあなどるなかれ。
  <a href="http://www.amazon.co.jp/%E5%86%92%E9%99%BA%E5%9B%B3%E9%91%91%E2%80%95%E9%87%8E%E5%A4%96%E3%81%A7%E7%94%9F%E6%B4%BB%E3%81%99%E3%82%8B%E3%81%9F%E3%82%81%E3%81%AB-Do-%E5%9B%B3%E9%91%91%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E3%81%95%E3%81%A8%E3%81%86%E3%81%A1-%E8%97%8D/dp/4834002632">
  →Amazon
  </a></dd>
  </dl>
  <dt>アフターマン</dt>
  <dd>著：ドゥーガル・ディクソン（1981年）。森にはこんな感じのヤツラもいる。
  <a href="http://www.geocities.co.jp/technopolis/9540/index.html">
  →アフターマンワールド
  </a></dd>
  <dt>オデッセイ</dt>
  <dd>
    著：アンディ・ウェアーの「火星の人」原作の映画。
    極限状況でのサバイバル。生き残る意思の大切さとチームとの絆はきっと心を打つだろう。
    離れたキャンプのメンバーからの支援演出も取り入れられたら面白そう。
    <a href="https://ja.wikipedia.org/wiki/%E3%82%AA%E3%83%87%E3%83%83%E3%82%BB%E3%82%A4_(%E6%98%A0%E7%94%BB)">→wikiedia</a>
  </dd>
  </dl>
  <h2>イメージ画像</h2>
  <ul>
  <li>
  <a target="_blank" href="http://www.bbweb-arena.com/users/kaede472/">
  廃墟ちゃんねる
  </a></li>
  <li>
  <a target="_blank" href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=34980985">
  さびたカンヅメをてにいれた | なｓｈ [pixiv] 
  </a></li>
  <li>
  <a target="_blank" href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=32803807">
  うーん | てんいち [pixiv] 
  </a></li>
  <li>
  <a target="_blank" href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=35029953">
  コンクリートジャングル | はし [pixiv] 
  </a></li>
  <li>
  <a target="_blank" href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=3860505">
  廃墟修正版 | ノコノコ [pixiv] 
  </a></li>
  <li>
  <a target="_blank" href="http://www.pixiv.net/member_illust.php?mode=medium&illust_id=40327064">
  廃墟前廃墟後風景 | 彩玉 [pixiv] 
  </a></li>

  </ul>
  <h2>冒険企画局様のTRPG</h2>
  <li>
  <a target="_blank" href="http://www.bouken.jp/pd/sf/">
  サイコロ・フィクション │冒険企画局
  </a></li>
  <li>
  <a target="_blank" href="http://www.bouken.jp/pd/bm/">
  ブラッドムーン │冒険企画局
  </a>……強敵との血湧き肉踊る方へオススメ</li>
  <li>
  <a target="_blank" href="http://www.bouken.jp/product/makeyou/">
  迷宮キングダム │冒険企画局
  </a>……自分たちだけの国を作って遊びたい方へオススメ</li>

  </ul>

  </hgroup>
  </section>
