.
  <hr>
  <section id="FAQ">
  <hgroup>
  <h1 id="faq-title">FAQ</h1>
  <h2 id="faq-class">クラスに関するFAQ</h2>
  <dl>
  <dt>Q.キズモノのキズを「利き腕」に指定した場合、「右腕」や「左腕」にアイテムを装備することはできますか？</dt>
  <dd>A.装備できます。
  <dt>Q.キズモノのキズを「利き腕」に指定した場合、「槍」などの装備部位が両手の武器は装備できますか？ ペナルティなどはありませんか？</dt>
  <dd>A.装備できます。ペナルティはありません。
  </dl>

  <h2 id="faq-action">行動に関するFAQ</h2>
  <dl>
  <dt>Q.行動済みでも割込みタイプの行動は行えますか？</dt>
  <dd>A.はい、可能です。割込みタイプの行動は行動済み未行動に関わらず、割込んで使用できます。 </dd>
  <dt>Q. 戦闘行動の武器の装備で一度に複数の武器を装備できますか？</dt>
  <dd>A. 所持しているものならば複数装備することができます。</dd>
  <dt>Q. 「本気を出す」について質問です。<q>通常状態から『本気状態』となったラウンドに＜ヌシ＞は追加行動を一回得ます。</q>とあります。追加行動は本気状態となったラウンド以降、毎ラウンド得られますか？ そのラウンドのみですか？</dt>
  <dd>A. そのラウンドのみです。</dd>
  <dt>Q. 「本気を出す」について質問です。反動を受けないとありますが回避に消費する気力はなしになりますか？</dt>
  <dd>A. 「回避」の気力消費は反動ではありません。そのため、本気を出した後ても気力の消費は必要です。</dd>
  </dl>


  <h2 id="faq-ability">アビリティに関するFAQ</h2>
  <dl>
  <dt>Q.【毒矢】は矢を所持していなくても使えますか？</dt>
  <dd>A.使用できます。
  アビリティを取得した時点で、毒矢用の矢と毒を所持していることになります。</dd>
  <dt>Q.【渾身撃】の指定特技は武器の指定特技と一致させる必要がありますか？</dt>
  <dd>A.いいえ、【渾身撃】の指定特技は武器と合わせる必要のある【武器攻撃】と違い、
  完全に自由です。
  《殴る》で槍を使うなどしてもかまいません。
  その指定特技でどのように攻撃するのかをしっかり演出してください。。</dd>
  <dt>Q.【刺し違え】を使った時、自分がダメージを負った部位に敵が既に部位ダメージを受けていた場合どうなりますか？</dt>
  <dd>A.何も起こりません。相手の受けている部位ダメージを確認してから使いましょう。</dd>
  <dt>Q.【ピタゴラ】などのダメージを与える支援アビリティに回避判定をおこなうことはできますか？</dt>
  <dd>A.いいえ、できません。</dd>
  <dt>Q.【咆哮】などの変調を与えるアビリティに対して回避は行えますか？</dt>
  <dd>A.回避判定可能です。タイプ：攻撃のアビリティはすべて攻撃として扱います。 </dd>

  <dt>Q.キズモノのアビリティの【リハビリ】で取得した特技は、他の部位ダメージによって使用不能な状態になりますか？</dt>
  <dd>A.使用不能になります。「選択した特技が使用不能な状態にならない」という効果は【リハビリ】にはありません。</dd>

  <dt>Q.キャラクターメイキング時に汎用アビリティのみを取得したキャラクターを作成できますか。</dt>
  <dd>A.可能です。</dd>

  <dt>Q. ショクニンの『改造』を同じアイテムに使用した場合、効果は重複しますか？</dt>
  <dd>A. 同じ名前のアビリティの効果は重複しません。別のアイテムの改造は可能です。</dd>

  <dt>Q. ママのアビリティ【ごちそう】と【節約】を両方所持している場合、【ごちそう】を使うときに消費する食料アイテムに対して【節約】の使用は可能ですか？</dt>
  <dd>A. いいえ、【ごちそう】で消費する食料を【節約】することはできません。【ごちそう】は食料を「消費」する効果で、【節約】は消耗品を「使用」したときに、1D6を振る効果です。</dd>

  <dt>Q. 散策表の７「セッション中に食料を5個手に入れるたび」に対して、オトナの【へそくり】「セッション開始時に3J獲得できる」の3Jはカウントしますか？</dt>
  <dd>A. カウントします。セッション開始時は、セッション中に含まれます。</dd>

  <dt>Q.汎用アビリティ【たからもの】の「失う」というのは文字通り消えてしまうのでしょうか？　それとも消費するだけでセッション後に復活するのでしょうか？</dt>
  <dd>A. 文字通り消えてしまうことになります。セッション後に復活することもありません。アビリティ欄には【たからもの（破損）】や【たからもの（喪失）】などと記すと思い出になるでしょう。失っているので、経験値を消費して再取得可能です。</dd>

  <dt>Q. 【鋼鱗】は強制的に発動しますか？ 気力が尽きても発動しますか？</dt>
  <dd>A. 強制的に発動します。気力が尽きても発動します。</dd>
  <dt>Q. エネミーアビリティ【冷気】で使用不能の対象になるのは、未取得の特技含めてランダムですか？ それとも取得済みの中からだけですか？</dt>
  <dd>A. 未習得含めてランダムです。</dd>
  <dt>Q. ＜ヌシ＞は全てのグループから取得できるとありますが、PCのクラスアビリティも取得できますか？</dt>
  <dd>A. 取得できます。</dd>

  </dl>


  <h2 id="faq-item">アイテムに関するFAQ</h2>
  <dl>
  <dt>Q.キャラクターメイキング時にリュックサックを売ることはできますか？</dt>
  <dd>A.可能です。10Jにリュックを売った5Jを加えて、
  15Jで買えるアイテムを自由に買って下さい。
  </dd>
  <dt>Q.手提げかばんは装備しないと効果を発揮しませんか？</dt>
  <dd>A.はい、片手に装備しないと効果を発揮しません。重量2のただの所持品になります。
  </dd>
  <dt>Q.6Jのナタで4Jの槍を買いたいと思います。おつりはでますか？</dt>
  <dd>A.場合によります。購入のタイミングで「１つだけ買うことができる」とされていた場合、
  おつりはでません。そうでなければ、4Jの槍と2Jを買うことができます。
  </dd>
  <dt>Q.戦闘中、袋にいれた武器を取り出してすぐ装備することはできますか？</dt>
  <dd>A.いいえ。袋から取り出すのが1行動、装備するのに1行動で合計2ラウンドかかります。
  </dd>
  <dt>Q.なべぶたを2つ装備した場合、回避判定にプラス2はつきますか？</dt>
  <dd>A.いいえ。同じ名前の装備品を2つ装備しても、発揮される効果は1つとなります。
  </dd>
  <dt>Q.2つコカの葉を持っていたとします。タイミングが割込みですが、1ラウンドに2つ
  使うことはできますか？</dt>
  <dd>A.はい、可能です。消耗品は同じ名前でもそれぞれ別のアイテムとして扱います。
  </dd>
  <dt>Q.ペットは使用したら食べちゃうのですか？</dt>
  <dd>A.いいえ。支援行動で使用すれば、可愛がることによって【気力】が1D3点増加します。
  いざというときに、食料としても扱うことができる、ということです。
  </dd>
  <dt>Q.胡椒玉どう使うの？</dt>
  <dd>A.攻撃と同時に使います。「スリング」を装備している時、命中判定直前に胡椒玉を消費することで使用できます。
  攻撃が命中した場合、目標に『麻痺』の変調を与えます。
  </dd>
  <dt>Q.カタナでスペシャル！ 攻撃力２倍！ 攻撃力1D6は前、後？</dt>
  <dd>A.先に攻撃力が1D6増加し、その後攻撃力を2倍にします。
  </dd>
  </dl>

  <dt>Q.【改造】や【値切り】などの「対象：アイテム」のアビリティは他人のアイテムを対象にとれますか？</dt>
  <dd>A.はい、可能です。他人のアイテムでも対象にとることができます。
  </dd>
  <dt>Q.部位：両手のアイテムや、部位：片手のアイテムを右手左手両方に装備していたとします。このとき、所持品のコカの葉などの消費アイテムは使えますか？</dt>
  <dd>A.はい、使用できます。装備部位とアイテムの使用については関連ありません。
  </dd>
  <dt>Q.《※利き腕》に部位ダメージをうけました。装備しているアイテムは使えなくなりますか？</dt>
  <dd>A.いいえ、部位ダメージを受けても装備は問題なく使えます。武器は持てるが、《特技》を使うには厳しい傷を受けたなどと解釈してください。
  </dd>
  <dt>Q.購入不可のアイテムに価格が設定されている場合、J換算はできますか？</dt>
  <dd>A.可能です。例えば、1Jの価格が設定されている「硬い殻」で、1Jを購入できます。
  </dd>

    <dt>Q.  携帯ラジオは1サイクルに何度でも効果がありますか？</dt>
    <dd>A. 支援行動のため、1サイクルに何度つかっても効果があります。</dd>
  </dl>

  <h2 id="faq-check">行為判定に関するFAQ</h2>
  <dl>
  <dt>Q.死亡判定は判定ですか？</dt>
  <dd>A.判定です。ホープの【希望の光】やキズモノの【悪運】の効果を使うこともできます。</dd>
  <dt>Q.スペシャルを振り直しさせられ、スペシャルでなくなった場合気力の回復はありますか？</dt>
  <dd>A.スペシャル・ファンブルの発生は振り直し後の出目で判断します。
  スペシャルは起こらなかったとみなし、気力の回復はありません。</dd>
  <dt>Q. 〈ヌシ〉はエネミー特技【死亡判定】を取らなくてもデフォで死亡判定ができるのでしょうか？</dt>
  <dd>A. 「4.2.敵の死亡」にあるように、デフォルトでヌシは死亡判定を行います。【死亡判定】はヌシ以外のエネミー用スキルとなっております。</dd>
  </dl>

  <h2 id="faq-camp">キャンプに関するFAQ</h2>
  <dl>
  <dt>Q.追加設備決定表で6の目が出た場合、ドラム缶とお風呂を両方取得できますか？ どちらかを選ばなければなりませんか？</dt>
  <dd>A.ドラム缶とお風呂を両方取得できます。 </dd>
  </dl>

  <h2 id="faq-campphase">キャンプフェイズに関するFAQ</h2>
  <dl>
  <dt>Q.散策表11番が2回出た場合の処理を教えて下さい。</dt>
  <dd>A.効果は重複します。その回で購入できるキャンプの施設の必要CPはマイナス２されます。 </dd>
  <dt>Q.散策表12番が出た場合、＜資材集め＞のチャンスは1回のみでしょうか</dt>
  <dd>A.そのセッション中なら、何回でも行うことができ、成功するたびにCPを獲得できます。この支援行動は、散策表を振ったキャラクター以外でも行うことができます。</dd>
  </dl>

  <h2 id="faq-explorer-phase">探索フェイズに関するFAQ</h2>
  <dl>
  <dt>Q.＜チェックポイント＞の＜障害＞の有無や内容、＜ヌシ＞の情報はいつわかりますか？</dt>
  <dd>A.＜障害＞の有無や内容、チェックポイントの内容は、基本的にはチェックポイントを訪れた時に分かります。
  ただし、例外があってもかまいません。他の冒険者が探索に行っていたりすれば、そこまでの情報はあるでしょう。
  地図があるなら、予想できる＜障害＞もあるでしょう。＜ヌシ＞の外見情報や大まかな強さはわかっていてかまいません。
  </dd>

  </dl>
  <h2 id="faq-badstatus">変調に関するFAQ</h2>
  <dl>
  <dt>Q.【体力】が0の時、『炎上』の効果の1ダメージで部位ダメージは入りますか。</dt>
  <dd>A.はい、部位ダメージは入ります。ダメージの入る部位を決定してください。</dd>
  <dt>Q.『炎上』の効果で【気力】が0になったら『無力化状態』になりますか。</dt>
  <dd>A.はい、『無力化状態』になります。</dd>
  </dl>

  </hgroup>
  </section>
