h2#first はじめに
p
  | 大人たちは死に絶え、子どもたちは残された。#[br]
  | 日本中を森が覆い、異形の獣たちが我が物顔で闊歩する。#[br]
  | 変わり果てた世界。その中で、彼らは生きることを選択した。#[br]
  | 自分たちだけのサバイバル。これは、文明崩壊から５年後の物語。
p
  | 本ゲームは、文明崩壊後の日本を生き延びる人々を演じるゲームです。
  | プレイヤーの分身であるキャラクター（以下、PC)は、
  | 物資を求めて危険な森を探索する冒険者となります。
details
  summary 目次
  .contents
    ul
      li: a(target="_blank" href="https://ancientscars.wordpress.com/project-1-lost-trpg/")  English
      li: a(target="_blank" href="https://sites.google.com/site/lostrfc/")  中文版
      li: a(target="_blank" href="https://aken-trpg.postype.com/post/4337646")  한국어 버전
    ul
      li: a(href="#first")  はじめに
      li: a(href="#world")  ワールド
      li: a(href="#camp")  キャンプ
      li
        a(href="#character") キャラクター  
        ul#sub_charcter
          li: a(href="#decide-class")  クラス
          li: a(href="#decide-skill")  特技
          li: a(href="#decide-ability")  アビリティ
          li: a(href="#decide-HP")  体力
          li: a(href="#decide-MP")  気力
          li: a(href="#decide-limitedweight")  所持限界
          li: a(href="#decide-item")  アイテム
      li
        a(href="#check") 行為判定
        ul#sub_challenge
          li: a(href="#check-flow")  行為判定の流れ
          li: a(href="#check-adjusting")  修正
          li: a(href="#check-special")  スペシャルとファンブル
          li: a(href="#check-gm-counter")  つっこみ
          li: a(href="#check-pl-proposal")  プレイヤーの提案
      li: a(href="#session")  セッション
      li: a(href="#cycle")  サイクル
      li: a(href="#campF")  キャンプフェイズ
      li: a(href="#exploration")  探索フェイズ
      li
        a(href="#battle") 戦闘
        ul#sub_battle
          li: a(href="#battle-round")  ラウンドの流れ
          li: a(href="#battle-initiative")  先制判定
          li: a(href="#battle-action")  戦闘中の行動
          li: a(href="#battle-damage")  ダメージと死亡
          li: a(href="#battle-enemy")  敵の行動
          li: a(href="#battle-dodge")  回避判定
          li: a(href="#battle-secondaction")  追加行動
          li: a(href="#battle-special")  スペシャルとファンブル
      li: a(href="#badstatus")  変調
      li: a(href="#lastbattle")  決戦フェイズ
      li: a(href="#ending")  結果フェイズ
      li: a(href="#afterplay")  セッション終了
      li: a(href="#improve")  キャラクターの成長
      li: a(href="#make-boss")  ＜ヌシ＞の作成
      li: a(href="#next") 次のステップ
      li: a(href="#FAQ")  FAQ
      li: a(href="#sankou")  参考作品
      li
        a(href="scenario-sample.html")  サンプルシナリオ
        ul
          li: a(target="_parent" href="reply-sample1.html")  リプレイ
      li
        a(href="scenario-sample.html#sample-scenario2")  サンプルシナリオ2
        ul
          li: a(target="_parent" href="reply-sample2.html")  リプレイ2
      li: a(href="scenario-island.html")  現代編：無人島シナリオ
      li
        a(href="chart.html")  チャート
        ul#sub_char
          li: a(href="chart.html#name")  名前
          li: a(href="chart.html#table-camp")  キャンプ
          li: a(href="chart.html#table-item")  アイテム
          li: a(href="chart.html#table-skill")  特技
          li: a(href="chart.html#table-ability")  アビリティ
          li: a(href="chart.html#table-exploration")  探索フェイズ
          li: a(href="chart.html#table-battle")  戦闘
          li: a(href="chart.html#table-enemy")  エネミー

      li: a(target="_parent" href="chart.html")  チャート
      li: a(target="_parent" href="summary.html")  サマリー
      li: a(target="_parent" href="/assets/data/sheet.pdf")  キャラシートPDF
      li: a(target="_parent" href="https://create-now.now.sh/lostrpg")  オンラインキャラシートなどサポートページ
      li: a(href="supplement-strange-fields.html")  サプリメント：終末列島百景
      li: a(href="history.html")  更新履歴
