h2#first はじめに
p
  | 大人たちは死に絶え、子どもたちは残された。#[br]
  | 日本中を森が覆い、異形の獣たちが我が物顔で闊歩する。#[br]
  | 変わり果てた世界。その中で、彼らは生きることを選択した。#[br]
  | 自分たちだけのサバイバル。これは、文明崩壊から５年後の物語。
p
  | 本ゲームは、文明崩壊後の日本を生き延びる人々を演じるゲームです。
  | プレイヤーの分身であるキャラクター（以下、PC)は、
  | 物資を求めて危険な森を探索する冒険者となります。
details(open).first-toc
  summary 目次
  .contents
    ul
      li: a(href="#world")  ワールド
      li: a(href="#camp")  キャンプ
      li: a(href="#character") キャラクター
      li: a(href="#check") 行為判定
      li: a(href="#session")  セッション
      li: a(href="#camp-improve") キャンプの成長
      li: a(href="#improve")  キャラクターの成長
      li: a(href="#make-boss")  ＜ヌシ＞の作成
      li: a(href="#npc") NPC
      li: a(href="#next-step-session") シナリオ
      li: a(href="#next-step-reply") リプレイ
      li: a(href="#next-step-add-data") サプリメント
      li: a(href="#next-step-make-char") キャラクターシートなど
      li: a(href="#FAQ")  FAQ
      li: a(href="#sankou")  参考作品