hr
// *******************************************************
section#improve
  hgroup
    h1 キャラクターの成長
    p
      | 冒険者はセッションを通して成長していきます。獲得した経験点を消費して成長することができます。
      | 使用しなかった経験点は次回以降に持ち越すことができます。
    dl
      dt 気力基準値の上昇（10点）
      dd 気力基準値を1点上昇させることができます。
      dt 特技の習得（15点）
      dd 新たな《特技》を１つ習得できます。
      dt アビリティの習得（15点）
      dd
        p
        | 汎用グループか、自身のクラスグループから選び、
        | 新たな【アビリティ】を１つ習得できます。
        p （選択ルール） 称号の選択ルールを使用している場合、称号グループから選ぶこともできます。
      dt 体力基準値の上昇（20点）
      dd 体力基準値を1点上昇させることができます。
      dt クラスの取得（30点）
      dd
        | 新たなクラスを１つ取得できます。
        | また、その際にそのクラスグループの【アビリティ】を1つ習得できます。
        | ただし、1人のキャラクターが取得できるクラスは3つまでです。
// implove
