.
  <hr><!--*******************************************************-->
  <section id="improve">
  <hgroup>
  <h1>キャラクターの成長</h1>
  <p>冒険者はセッションを通して成長していきます。獲得した経験点を消費して成長することができます。
  使用しなかった経験点は次回以降に持ち越すことができます。
  <dl>
  <dt>気力基準値の上昇（10点）</dt>
  <dd>気力基準値を1点上昇させることができます。</dd>
  <dt>特技の習得（15点）</dt>
  <dd>新たな《特技》を１つ習得できます。</dd>
  <dt>アビリティの習得（15点）</dt>
  <dd>汎用グループか、自身のクラスグループから選び、
  新たな【アビリティ】を１つ習得できます。</dd>
  <dt>体力基準値の上昇（20点）</dt>
  <dd>体力基準値を1点上昇させることができます。</dd>
  <dt>クラスの取得（30点）</dt>
  <dd>新たなクラスを１つ取得できます。
  また、その際にそのクラスグループの【アビリティ】を1つ習得できます。
  ただし、1人のキャラクターが取得できるクラスは3つまでです。
  </dd>
  </dl>
  </hgroup>
  </section><!--implove-->
