hr
// *******************************************************
section#improve
  hgroup
    h1#improve-title キャラクターの成長
    p
      | 冒険者はセッションを通して成長していきます。獲得した経験点を消費して成長することができます。
      | 使用しなかった経験点は次回以降に持ち越すことができます。
    dl
      dt 特技の習得（15点）
      dd 新たな《特技》を１つ習得します。
      dt アビリティの習得（15点）
      dd
        p
        | 汎用グループか、自身のクラスグループから選び、
        | 新たな【アビリティ】を１つ習得します。
        p （選択ルール） 称号の選択ルールを使用している場合、称号グループから選ぶこともできます。
      dt 精神力の上昇（10点）
      dd 精神力が1点上昇します。
      dt 生命力の上昇（20点）
      dd 生命力が1点上昇します。
      dt クラスの取得（30点）
      dd
        | 新たなクラスを１つ取得します。
        | また、その際にそのクラスグループの【アビリティ】を1つ習得します。
        | ただし、1人のキャラクターが取得できるクラスは3つまでです。
// implove
