section#next
  h2 次のステップ
  h3 さっそくセッションをしたい!
  p サンプルシナリオを用意しております。
  ul
    li #[a(href="scenario-sample.html") →サンプルシナリオ1:塩と胡椒] 
    li #[a(href="scenario-sample.html#sample-scenario2") →サンプルシナリオ2:嵐の濁流] 
    li #[a(href="scenario-island.html") 現代編：無人島漂流記 ]

  h3 実際の遊び方を知りたい
  p 遊んだ様子を読み物にしたリプレイを用意しております。
  ul
    li #[a(href="reply-sample1.html") → リプレイ1: 塩と胡椒 ]
    li #[a(href="reply-sample2.html") → リプレイ2: 嵐の濁流 ]

  h3 キャンプやキャラクターを作りたい
  p サポートサイトがあります。キャンプ・キャラクター・ヌシなどが作成できます。
  p キャラクターを作った後は、レコードシートを利用可能になりますのでお役立てください。
  p  #[a(href="https://create-now.now.sh/lostrpg",rel="noopener noreferrer") → サポートサイト ]

