section#npc
  h2 NPC一覧
  p 今も生き延びている人々を紹介します。
  p キャンプの一員として、＜フィールド＞で出会う冒険者として、自由にお使いください。
  div(style="display:flex;border: solid 1px #000; padding: 5px;")
    div(style="width:600px; height: 400px;overflow:hidden")
      img(src="../assets/images/npc/kame/001.png" alt="かめや" title="かめや @LabanS_Lab 様作")
    div 
      p 
        strong かめや #[br]
      p
        strong 16歳 / 女#[br]
        strong アキンド / カイヌシ / チビ
      p 「わさわさ、仕入れてきたです。缶詰払い歓迎なのですよ」
      p 大きな亀（名前はハイゼット）に山ほどの商品を載せて、キャンプを渡り歩く商人です。#[br]
        | 買い物をすると、ポイントカードにスタンプを押してくれます。
        | ＜フィールド＞へ仕入にゆくために、護衛を冒険者たちに頼むこともあります。
