.
		<section id="session">
		<hgroup>
		<h1>セッション</h1>
		<p>
		一回のゲームのことをセッションと呼びます。
		</p>
		<p>
		セッションは、いくつかのフェイズに分かれています。
		各フェイズは順番に進行していきます。</p>
		<ol>
		<li>キャンプフェイズ</li>
		<li>探索フェイズ</li>
		<li>決戦フェイズ</li>
		<li>結果フェイズ</li>
		</ol>
		</hgroup>
		</section><!--session-->
		<hr><!--*******************************************************-->
		<section id="cycle">
		<hgroup>
		<h1>サイクル</h1>
		<p>このゲームでは、セッション中のプレイヤーの行動機会を均等にするために、
		サイクルという概念を使用します。
		基本的に、各プレイヤーは1サイクルに1回、主要な行動を行うことができます。
		どんな行動ができるかはフェイズによって異なります。仲間と相談したり、
		周囲の様子を確かめたりといった簡単な行動は、回数の制限なく行えます。</p>
		<p>
		サイクル中に行動を行うプレイヤーの順番は、それぞれのフェイズのルールによって
		決められます。同じタイミングで行動を行うことができるプレイヤーが複数いる場合には、
		その順番はプレイヤー間で相談して決めることができます。</p>
		<p>
		行動はプレイヤー1人ごとに処理します。
		<!--、誰かの行動が終わるまで、他のプレイヤーは行動できません。-->
		</p>
		<p>
		全プレイヤーの行動が終了した時に、サイクルは終了します。そして、また新しいサイクルが
		はじまり、プレイヤー全員が1回ずつ主要な行動をとることができます。
		</p>
		<h2>未行動と行動済み</h2>
		<p>
		プレイヤーは、サイクル中に自分のキャラクターの行動を終わらせたとき、
		キャラクターシートのイラスト欄にサイコロや筆記用具など、
		何か目印になるものを置いて下さい。
		この状態のことを行動済みと呼びます。
		</p>
		<p>逆に、イラスト欄に何も置かれていないキャラクターは未行動という状態です。
		未行動のキャラクターは、そのサイクルにまだ行動をとることができます。</p>
		<p>
		新しいサイクルが始まった時に、行動済みのキャラクターは全員が未行動になります。
		イラスト欄の上に置かれているものをとりのけてください。
		</p>
		</hgroup></section><!--cycle-->
		<hr><!--*******************************************************-->
		<section id="campF">
		<hgroup>
		<h1>キャンプフェイズ</h1>
		<p>
		冒険者のキャンプでの行動を処理するフェイズです。
		このフェイズでは事件の発端と探索の準備を行います。
		</p>
		<h2>プロローグ</h2>
		<p>
		キャンプフェイズが始まったら、GMはプロローグの処理を行います。
		ここでは、シナリオの背景や＜フィールド＞へ冒険者たちが向かうための動機を
		描写します。また、探索フェイズが何サイクルで終了するかのリミットを伝えて下さい。
		</p>
		<p>シナリオによって判定や戦闘を行なってもかまいませんし、時間がない場合は
		探索に出るまでの経緯を簡単に説明するだけでもかまいません。</p>
		<p>主な動機として、物資の調達や他のキャンプへの護衛、迷い込んだ仲間の救出、＜フィールド＞の
		拡大を防ぐなどが考えられるでしょう。
		</p>

		<h2>行動の処理</h2>
		<p>プロローグが終了すると、各キャラクターは探索の準備をすることができます。</p>
		<p>行動の処理は1サイクルです。
		各キャラクターは以下の行動から1つ選んで行動の処理を行なって下さい。</p>
		<dl>
		<dt>散策</dt>
		<dd>2D6を振って、散策表の結果を適用します。
		複数人が散策を行い、同じ結果が出た場合、表の効果は重複します。
		</dd>
		<p><a href="chart.html#walking">→散策表</a></p>
		<dt>施設の利用</dt>
		<dd>キャンプにある施設の効果を使用できます。</dd>
		<dt>人材の利用</dt>
		<dd>キャンプにいる人材の効果を使用できます。</dd>
		<dt>アビリティなどの使用</dt>
		<dd>タイプが支援のアビリティやアイテムを使用できます。</dd>
		<dt>パス</dt>
		<dd>特に何もしません。</dd>
		</dl>

		</hgroup>
		</section><!--camp-->
		<hr><!--*******************************************************-->
		<section id="exploration">
		<hgroup>
		<h1>探索フェイズ</h1>
		<p>
		探索フェイズは、キャンプから目的の＜フィールド＞に侵入し、
		＜チェックポイント＞ごとに障害の突破と探索を繰り返すフェイズです。
		</p>
		<p>
		探索フェイズにはリミットが存在し、
		プロローグで伝えられたリミットのサイクルが経過すると終了します。
		冒険者は探索フェイズの終了までに＜チェックポイント＞を辿り、
		＜ヌシ＞のいる所まで辿り着いてください。
		</p>
		<p>探索フェイズの1サイクルは「移動」→「描写」
		→「行動の処理」の順に処理を行います。探索フェイズの1サイクルで経過する時間は
		およそ1日が目安です。GMの任意で1サイクルの時間は自由に調整してかまいません。</p>
		<h2>移動</h2>
		<p>隣接する＜チェックポイント＞へ移動します。
		ただし、その間に＜障害＞が設置されている＜チェックポイント＞への移動は行えません。</p>
		<p>
		移動の際には敵の遭遇が発生する可能性があります。
		GMはランダムエンカウント表Aを振り、その結果を適用してください。</p>
		<p>障害の突破が行えず、次の＜チェックポイント＞に向かえない時など
		移動をパスすることもできます。その場合ランダムエンカウントは
		発生しません。
		</p>
		<p><a href="chart.html#table-randomencountAB">ランダムエンカウント表</a></p>
		<p><a href="chart.html#table-enemy">エネミー表</a></p>

		<h2>描写</h2>
		<p>＜チェックポイント＞の描写を行います。
		＜チェックポイント＞とは、＜フィールド＞に存在する構造物や地形で、
		冒険者たちが訪れる場所のことです。道がそこを通るものしかなかったり、
		危険を排除しておくべき場所など、理由は様々です。
		GMは＜チェックポイント＞がどのような場所で何があるか、道はどちらに続いているか、
		その場所にいる生き物などの説明をしてください。
		</p>
		<p>
		その場所にいる生き物によっては戦闘になる可能性もあります。
		また、他の冒険者や行商人などとは交渉が発生する場合もあります。
		</p>
		<p>風景描写・戦闘・交渉などが終わったら、行動の処理に移って下さい。</p>

		<h2>行動の処理</h2>
		<p>各キャラクターは以下の行動から１つ選んで、
		行動の処理を行います。</p>
		<dl>
		<dt>障害の突破</dt>
		<dd>障害の突破を試みます。</dd>

		<dt>探索</dt>
		<dd>森の探索を行いアイテムを入手します。</dd>

		<dt>休憩</dt>
		<dd>休んで【気力】を増加させます。</dd>

		<dt>支援行動</dt>
		<dd>支援タイプのアビリティやアイテムを使用できます。
		また、支援行動とされる行動を行うことができます。
		</dd>

		<dt>オブジェクトへの接触</dt>
		<dd>＜チェックポイント＞にあるオブジェクトに対して行動します。
		ここでいうオブジェクトとは、木や建物、人物や動物など
		GMがオブジェクトとして設定したものをいいます。
		</dd>

		<dt>パス</dt>
		<dd>特に何もしません。</dd>
		</dl>
		<h3>■障害の突破</h3>
		<h4>＜障害＞</h4>
		<p>
		GMは新たな＜チェックポイント＞へ続く道に任意の数の＜障害＞を設置できます。
		＜障害＞ごとに突破するための《指定特技》を決定してください。
		同じ＜障害＞を複数設置することも可能です。
		また、2つの道を塞ぐように＜障害＞を設置することも可能です。
		</p>
		<h4>突破</h4>
		<p>冒険者は、＜障害＞に設定された《指定特技》の判定に成功することで、
		障害を1つ突破できます。これを突破判定と呼びます。</p>
		<p>新たな＜チェックポイント＞への道に設置された＜障害＞が全て突破されるまで、
		その＜チェックポイント＞へは移動できません。＜障害＞が全て突破された時、GMは
		道の先の＜チェックポイント＞の簡単な説明をしてください。
		道の先に＜ヌシ＞がいる場合、そのことも伝えて下さい。</p>
		<h4>《指定特技》の変更</h4>
		<p>プレイヤーは、突破判定の《指定特技》の変更を提案することができます。
		GMはその提案を聞き、納得した場合、《指定特技》を提案されたものに変更します。
		</p>
		<h3>■探索</h3>
		<h4>アイテムの探索</h4>
		<p>2D6を振り、探索表の結果を適用します。</p>
		<p><a href="chart.html#table-explorer">→探索表</a></p>
		<h3>■休憩</h3>
		<p>
		2D6を振り、休憩表の結果を適用します。
		</p>
		<p><a href="chart.html#table-rest">→休憩表</a></p>

		<h3>■アビリティなどの使用</h3>
		<p>支援タイプのアビリティやアイテムを使用できます。</p>
		<h3>■オブジェクトへの接触</h3>
		<p>
		オブジェクトを調べたり、会話したりできます。GMは判定が必要な場合、《指定特技》を決定し、
		成功したら何が起こるか決定しておくこと。
		</p>
		<p>例1：オブジェクトの行商人から買い物を行う。</p>
		<p>例2：オブジェクトの果物の木から収穫する。指定特技は《掴む/腕部7》で成功すると果物(2J)を得る。</p>
		<h3>■パス</h3>
		<p>なにもしません</p>
		<h2>リミット</h2>
		<p>探索フェイズのサイクル数にはリミットが定められています。これは、冒険者たちが所持している
		食料の残量や疲労による探索の限界を表しています。リミットであるサイクルが終了するまでに、
		＜ヌシ＞のいる場所への＜障害＞を突破できていない場合、セッションは失敗となります。
		</p>
		<p>
		リミットのサイクル数は、[＜チェックポイント＞の数+1]程度が適切でしょう。
		キャラクターの人数や＜障害＞の数によっては、
		それより多くしたり少なくしてもかまいません。
		</p>
		<h3>リミットの増加</h3>
		<p>
		GMは＜チェックポイント＞に、「水場」や「シェルター」など安全に休めそうなオブジェクトを「リミット増加用オブジェクト」として設置できます。
		リミット増加用オブジェクトがある場合、
		人数分の食料を消費し、誰か1人が指定特技《休む／環境7》の判定に成功することでリミットを1増加させることができます。
		</p>

		<p>リミットの増加は試みる度にマイナス[リミットの増加を試みた回数]の
		修正がはいります。最初の挑戦なら修正なし、
		2回めにはマイナス1、3回めはマイナス2…のようになります。</p>
		<p>リミットの増加は割込み行動として1サイクルに1度行うことができ、試みても行動済みとなりません。</p>
		</hgroup>
		</section>
