.
  <hr><!--*******************************************************-->
  <section id="thanks"">
  <hgroup>
  <h1 >謝辞</h1>
  <p>この作品を作るにあたり、アドバイス、テストプレイ、挿絵などの協力いただいた友人に感謝いたします。</p>
  <p>uni様からイラスト使用の許可をいただきました。ありがとうございます。</p>
  </hgroup>
  </section>
