hr
section#thanks
  hgroup
    h1#thnks 謝辞
    p この作品を作るにあたり、アドバイス、テストプレイ、挿絵などの協力いただいた友人に感謝いたします。
    p #[a(href='https://twitter.com/bananannboo') オムレッツ] 様からアイテム案をいただきました。ありがとうございます。
    p #[a(href='https://twitter.com/lioneeeee') uni]様からイラスト使用の許可をいただきました。ありがとうございます。
    p #[a(href='https://twitter.com/hagure_g') はぐれけだま] 様からデータの提供をいただきました。ありがとうございます。
