//- 変数一覧
- var title="LOST～廃墟の森の子供たち～"
- var description="これは、文明崩壊後の日本を生き延びる人々を演じるゲームです。プレイヤーの分身であるキャラクター（以下、PC)は、物資を求めて危険な森を探索する冒険者となります。"
- var keywords="TRPG,LOST,廃墟,サイコロフィクション"
- 
  var facilities = [
    {"name":"屋根",   "type":"常駐", "speciality": "-", "level":1, "effect":"全員の【気力基準値】をプラス1する。雨漏りしている。"},
    {"name":"壁",     "type":"常駐", "speciality": "-", "level":1, "effect":"全員の【気力基準値】をプラス1する。隙間風が吹く。"},
    {"name":"寝床",   "type":"常駐", "speciality": "-", "level":1, "effect":"全員の【気力基準値】にプラス2する。"},
    {"name":"水場",   "type":"常駐", "speciality": "-", "level":1, "effect":"全員の【気力基準値】をプラス3する。水を汲める川が近くにある。"},
    {"name":"倉庫",   "type":"常駐", "speciality": "-", "level":1, "effect":"[10]個までのアイテムを保存しておける。出し入れはキャンプでのみ可能。"},
    {"name":"食料庫", "type":"常駐", "speciality": "-", "level":1, "effect":"全員の【体力基準値】をプラス２する。"}
  ]