//- 変数一覧
- var title="キャンペーン Mother: LOST～廃墟の森の子供たち～"
- var description="世界の終わりのギリギリで踏みとどまるRPG"
- var keywords="サバイバルＴＲＰＧ,TRPG,サイコロフィクション,サバイバル,シナリオ,ルール,廃墟,森,ミュータント,変異,ポストアポカリプス,キャンペーン,Mother"

//- {"a":"","effect": ""},
- 
  var fieldAttributeList = [

     {"a":"平地","effect": "開けた場所。特殊効果なし"},
     {"a":"水場","effect": "浅い川や海辺など。『炎上』が発生しない。休憩の質が上がり、休憩選択時に気力が追加で１回復する。"},
     {"a":"極寒","effect": "極寒の地。PCはサイクルの終了時に《耐える/胴部12》の判定を行い、失敗したら軽減不可の1D6点のダメージを受ける。この判定にはマイナス[経過ラウンド数]の修正がつく。割込で火つけ道具を消費することで《耐える+2》、たいまつ消費で《耐える+3》の修正を得られる。"},
     {"a":"花畑","effect": "美しい花畑。戦闘で『毒』が発生しない。美しい光景はあなた達の力になる。PCの行う全判定が＋１される。また、オブジェクト探索の表に[気力回復]が多く追加される。"},
     {"a":"領域","effect": "＜フィールド＞の中でも特に敵が得意とする地域。ただしニューエイジは新たな環境に適応できる。ニューエイジを除いたPCの行う全判定が-1される。探索中ファンブルが発生すると、体調を崩して1D3のダメージを受ける。戦闘中ファンブルが発生すると、敵1体が追加行動を得る。"},
     {"a":"瓦礫","effect": "足場の悪い場所。全回避判定にマイナス2の修正がつく。ただし、[ヤセイジ]を所持する者はマイナス修正が無くなり、命中判定と回避判定にプラス1の修正がつく。"},
     {"a":"巣窟","effect": "２サイクル滞在するごとにランダムエンカウントが発生する"},
     {"a":"商店","effect": "ショッピングモールやデパート跡など。サイクル終了時に1つだけ「嗜好品」を手に入れることができる。また、探索のモチベーションが上がり、探索/オブジェクト探索選択時に気力が追加で１点回復する。"},
     {"a":"追い風","effect": "全アビリティの反動が-1される。0以下にはならない。"},
     { "a": "暗闇", "effect":"「ライト」や「たいまつ」などの明かりを持っていない限り、PCの行為判定にマイナス1の修正がつく。「たいまつ」は1サイクルで1つ消費される。"},
     { "a": "猛暑", "effect":"フィールド内はひどく暑く、体力を奪っていく。サイクルの終了時にPCの【体力】が1点減少する。この効果で1未満にはならない。"},
     { "a": "広漠", "effect":"フィールド内はとても広大だ。行けども行けども終わりの見えない地形に気が滅入る。サイクルの終了時に【気力】が1点減少する。この効果で1未満にはならない。"},
     { "a": "春風", "effect":"暖かい春の陽気。サイクル終了時に体力が２回復する。"},
     { "a": "迷宮", "effect":"迷宮のように複雑なフィールドではとてもお腹がすく。経過サイクルが偶数のとき、このチェックポイントでサイクル終了を迎えた時に、食料を1つ消費できなかったPCは【体力】と【気力】がそれぞれ1D3点減少する。この効果で1未満にはならない。"},
     { "a": "密林", "effect":" 密林や見通しの悪い屋内など。空気のおいしい場所で、全アビリティの反動が-1される。反動は1未満にはならない。また、身を潜めて隙を伺うことで攻撃をあてやすくなる。命中判定にプラス1の修正がつく。"},
     { "a": "泉", "effect":"神聖な泉。サイクルの終了時に気力が２点回復する。さらにプレイヤーの行う全判定にプラス1の修正がつく。"},

     
  ]