extends includes/common/_layout
//- _layout.pugをベースに作成

block meta
  //- コンテンツの種類
  meta(name='og:type', content="website") 

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include includes/index/variables
  title= title

//- 必要なCSSの読み込み
block css
  link(href="../assets/css/styles.css" rel="stylesheet" )
block headjs

block body
  header
    include includes/common/header
  include includes/index/hero-header
  include includes/index/overview
  main#main
    include includes/index/rulebook
    include includes/index/scenario
    include includes/index/reply
    section#guide.conD.conD2
      .container
        .image
        .text
          h2 二次創作・商用利用について
          p 『 LOSTRPG ～廃墟の森の子供たち～ 』は「hibo」が著作権を保有しています。ただし、自由に楽しんでいただくことを目指しているため、LOSTRPGを利用した二次創作物について、
            | ほとんど一次創作物と動揺の権利を創作者に認めております。
          ul 
             li ◎ シナリオ、リプレイ、データ集などの二次創作作品の公開・販売
             li ◎ 動画や配信での利用（収益化されたものを含む）
             li ◎ 店舗やイベントでの利用、出版物の作成などでの商用利用
             li × 著作権法における引用の範囲を逸脱した販売など
             li × 他者を攻撃する目的、あるいは犯罪行為等の反社会的な目的で利用すること

  include includes/common/footer
