extends includes/common/_layout
block title
  include includes/common/variables
  title= title
block css
  //- 大文字のLOSTのみのフォントをダウンロード
  link(href="https://fonts.googleapis.com/css?family=Montserrat&text=LOSTRPG" rel="stylesheet")
  link(href="../css/styles.css" rel="stylesheet" )
block headjs
  
block body
  body
    include includes/common/header
    include includes/index/heroHeader
    include includes/index/overview
    main#main
      include includes/index/rulebook
      include includes/index/scenario
    include includes/common/footer