extends includes/_layout
block title
  include includes/variables
  title= title
block css
  link(rel="stylesheet" href="../css/styles.css")
block body
  include includes/svg
  //- キーボードユーザに便利なスキップリンク
  a(href="#main") メインコンテンツに移動
  main#main
    h1 LOST～廃墟の森の子供たち～
    p #[span(class="visually-hidden") システム:] サイコロフィクション
    include includes/nav
    include includes/first