extends includes/_layout
block title
  include includes/variables
  title= title
block css
  //- 大文字のLOSTのみのフォントをダウンロード
  link(href="https://fonts.googleapis.com/css?family=Montserrat&text=LOSTRPG" rel="stylesheet")
  link(href="../css/styles.css" rel="stylesheet" )
block headjs
  script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
block body
  include includes/header
  include includes/heroHeader
  include includes/overview
  main#main
    include includes/nav
    include includes/first
    include includes/commonRule
  include includes/footer