extends includes/common/_layout
block title
  include includes/rulebook/variables
  title= title

block css
  link(href="../css/styles.css" rel="stylesheet" )
block headjs

block body
  body.nohero
    header
      include includes/common/header
    main#main
      section.content
        .container
          .bread
            ol
              li: a(href="index.html") トップ
          h1 LOSTRPG 基本ルールブック
          img(src="images/losttop.png" alt="イメージ画像"  title="LOST～廃墟の森の子供たち～")
          img(src="images/LOST.png" alt="LOST～廃墟の森の子供たち～" title="LOST～廃墟の森の子供たち～")

          h2#first はじめに
          p
            | 大人たちは死に絶え、子どもたちは残された。#[br]
            | 日本中を森が覆い、異形の獣たちが我が物顔で闊歩する。#[br]
            | 変わり果てた世界。その中で、彼らは生きることを選択した。#[br]
            | 自分たちだけのサバイバル。これは、文明崩壊から５年後の物語。
          p
            | 本ゲームは、文明崩壊後の日本を生き延びる人々を演じるゲームです。
            | プレイヤーの分身であるキャラクター（以下、PC)は、
            | 物資を求めて危険な森を探索する冒険者となります。
          p
            | #[a(href="https://ancientscars.wordpress.com/project-1-lost-trpg/" target="_brank") English version]
            | (#[a(href="https://twitter.com/GeneJBlackwell" target="_brank") Gene]さんが好意で英訳してくださっています。感謝！)
          h2#commonRule このルールの読み方
          h3 かっこの種類
          ul 
            li 【】：キャラクターの能力値やアビリティを表します。
            li 《》：特技を表します。
            li ＜＞：このゲームで使われる固有名詞を表します。
          h3 端数の処理
          p このゲームでは、割り算を行う場合常に端数は切り上げになります。
    include includes/common/footer