extends includes/common/_layout
block title
  include includes/common/variables
  include includes/rulebook/variables
  - var bodyClass = "nohero"
  title= title

block css
  link(href="../assets/css/styles.css" rel="stylesheet" )
block headjs

block body
  header
    include includes/common/header
  main#main
    section.content
      .container
        h1 サンプルシナリオ
        include includes/scenario-sample/sample1
        include includes/scenario-sample/sample2

  include includes/common/footer