extends includes/common/_layout
block title
  include includes/scenario-island/variables
  title= title

block css
  link(href="../assets/css/styles.css" rel="stylesheet" )
block headjs

block body
  body.nohero
    header
      include includes/common/header
    main#main
      section.content
        .container
          h1 現代編シナリオ：サバイバルデイズ
          include includes/scenario-island/main

    include includes/common/footer