extends includes/common/_layout
block title
  include includes/common/variables
  - var title = "サマリー: LOST～廃墟の森の子供たち～"
  - var bodyClass = "nohero"
  title= title
block css
  link(href="../assets/css/styles.css",rel="stylesheet" )
block headjs

block body
  header
    include includes/common/header
  main#main
    section.content
      .container
        h1 LOSTRPG サマリー
        p #[a(href="chart.html") チャート類はこちら→●]
        div(style="display:flex;flex-wrap:wrap;")
          section
            h2#character #[a(href="rulebook.html#character") キャラクターメイキング]
            include includes/summary/character
          section(style="overflow:scroll;width:100%")
            h2#check #[a(href="rulebook.html#check") 行為判定]
            include includes/summary/check
  include includes/common/footer

block footjs
  script(src="https://cdn.jsdelivr.net/npm/mermaid@8.5.0/dist/mermaid.min.js",charset="UTF-8")
  .
    <script>mermaid.initialize({startOnLoad:true, securityLevel: 'loose'});</script>

