
extends includes/common/_layout
block title
  include includes/common/variables
  include includes/supplement-seki-dragon-plain/variables
  - var bodyClass = "nohero"
  title= title

block css
  link(href="../assets/css/styles.css" rel="stylesheet")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css")
block headjs

block body
  header
    include includes/common/header
  main#main
    section.content
      input(id='toc' type='checkbox' class="dn")
      label(class='toc-icon' for='toc') 
        div
          i(class="fas fa-book" style="font-size: 25px") 
          i(class="fas fa-book-open" style="font-size: 25px") 
          div 目次
      nav.toc.js-toc.toc-right.transition.is-position-fixed
      .container.js-toc-content
        include includes/rulebook/bread
        h1 LOSTRPG サプリメント 関ヶ原暴竜平原
        h2 さらに広がる世界
        p LOSTRPGサプリメント「関ヶ原暴竜平原」はLOSTRPGの追加データ集です。
        p 参加者の合意の上ならば、サプリメントのデータ・ルールの一部のみを使用することもできます。
        include includes/supplement-seki-dragon-plain/add-world
        include includes/supplement-seki-dragon-plain/add-rules
        include includes/supplement-seki-dragon-plain/add-data
        include includes/supplement-seki-dragon-plain/faq

  include includes/common/footer
  include includes/common/toc-footer
