.
  <section id="sample-scenario2">
  <hgroup>
  <h1>サンプルシナリオ：嵐の濁流</h1>
  <p>想定人数: 4人。 所要時間: 3～4時間</p>

  <p>突如＜フィールド＞の拡大により、隣のキャンプが水に飲み込まれました。
  このままでは、こちらのキャンプも危険です。
  ＜ヌシ＞を倒し＜フィールド＞の解放を行うことはできるのでしょうか。</p>
  <h2>キャンプフェイズ</h2>
  <h3>プロローグ</h3>
  <p>▽「大変だ！　オレたちのキャンプが、キャンプが……っ」</p>
  <p>そういって、濡れた学生服の姿で君たちのキャンプに転がり込んできたのは、
  隣のキャンプのモリヤン。事情を聞くと、＜フィールド＞の拡大により、彼の所属する
  キャンプは湖の底に沈んでしまったという。このままではそちらのキャンプにまで
  ＜フィールド＞が拡大する勢い、なんとかしないとヤバイといいます。
  </p>
  <p>様子を見に行ってみると、彼らがキャンプの拠点としていた学校が水の下に沈没しています。
  湖には大きなハスの葉が浮き、完全に＜フィールド＞と化しています。そしてその水は今も水かさを増しています。
  </p>
  <p>「＜ヌシ＞は巨大なドラゴンみたいだった。向こうのほうから泳いできて……、あっちにはオレらの田んぼもあったのに！
  もうすぐ収穫だったのに！　なあ、よかったら、その、田んぼがどうなっているか見てきてくれないか？ 無事だったら、
  ＜フィールド＞が解放されたら、あんたらにも半分分けるからさ」</p>
  <p>水に飲まれるまでのリミットは4サイクルです。また、今回の＜チェックポイント＞には分岐があると伝えて下さい。
  今回の＜フィールド＞は全て「水場：リミット増加用オブジェクト」で、食料があればいつでも「リミットの増加」に挑戦できます。初期作成でこのシナリオを遊ぶ場合、ポリタンクは不要と伝えておくのもよいでしょう。
  </p>
  <p>チェックポイントA（電気屋）→B（田んぼ）→＜ヌシ＞と進むルートと、チェックポイントA（電気屋）→C（大橋）→＜ヌシ＞と進むルートです。</p>
  <p>伝え終わったら、PCたちの行動の処理に移って下さい。</p>
  <h2>探索フェイズ</h2>
  <h3>チェックポイントA：浸水した電気屋</h3>
  <h4>描写</h4>
  <p>大きな電気屋跡は、水に半分沈んでいます。蛍光灯が明滅し、切れた電線がばちばちと火花をあげています。
  あなた達が店に入ると、すいーと泳ぐ影が飛びかかってきます。ツノサカナ（ツノウサギのデータの《跳ぶ》を《泳ぐ》にかえたもの）
  3体と戦闘になります。戦闘が終わったら、行動の処理に入って下さい。
  </p>
  <h4>オブジェクト：店の棚</h4>
  <p>《鑑定/技術4》に成功すると、防水バッテリーを手に入れることができます。</p>
  <h4>チェックポイントBへの道</h4>
  <p>切れた電線が水に浸かり、この先の通路を進んでは感電してしまいます。
  電気は＜フィールド＞の影響で、通っているようです。＜フィールド＞では、何故か以前の文明の状態が保たれている場合があります。
  </p>
  <h5>障害：回路切断</h5>
  突破の特技：《機械/技術7》
  <h4>チェックポイントCへの道</h4>
  <p>大通りは水没して、運河のようです。</p>
  <h5>障害：水没道路</h5>
  突破の特技：《泳ぐ/脚部2》
  <h3>チェックポイントB：激流の田んぼ</h3>
  <h4>描写</h4>
  <p>今にも決壊しそうな土手を隔てて、田んぼは未だ流されていません。</p>
  <h4>オブジェクト：田んぼ</h4>
  <p>《塞ぐ/胴部2》の判定に2回成功すると、田んぼを守ることができます。
  その場合、結果フェイズで報酬として『畑レベル1』がもらえます。（すでに畑がある場合はレベルが1あがります）</p>
  <h4>ヌシの間への道</h4>
  <p>イカダも飲み込まれてしまいそうな激流を、なんとか渡らなければなりません。
  ロープを巻いて、一旦向こうに泳いでロープを張ったあと、それを掴んで皆で川を渡る必要があります。
  </p>
  <h5>障害：ロープの確保</h5>
  突破の特技：《見つける/頭部4》<br>
  <strong>もし「ロープ」を所持している場合、この障害は手番を使わず自動的に突破されます。</strong>
  <h5>障害：ロープを渡す</h5>
  突破の特技：《泳ぐ/脚部2》
  <h5>障害：ロープを掴んで皆を渡す</h5>
  突破の特技：《掴む/腕部7》
  <h3>チェックポイントC：嵐の大橋</h3>
  <p>強風の吹き付ける大橋は、叩きつけるような集中豪雨が横薙ぎに降っています。</p>
  <h4>ヌシの間への道</h4>
  <p>そのまま渡っては、銃弾のような雨に身を傷つけられ、吹き飛ばされてしまいます。
  道の脇に放棄された車が何台かあります。
  もし動けば、皆でここを乗り越えられるでしょう。
  </p>
  <h5>障害：エンジンをかける</h5>
  突破の特技：《機械/技術7》
  <h5>障害：強風の吹く橋の上を駆け抜ける</h5>
  突破の特技：《操作/腕部2》

  <h2>決戦フェイズ</h2>
  <p>＜ヌシ＞が待つのは、水力発電所跡です。渦巻く川の中から、びっしりと青い鱗に覆われた
  細長い身体の竜が姿を現し、咆哮します。
  雷が視界を染め上げ、吹き付ける嵐の中、最後の決戦となります。
  </p>
  <table id="storm-dragon">
  <caption>アラシノドラゴン</caption>
  <tr><th>	体力	</th><th>	20	</th><th>	気力	</th><th>	14	</th><th>	習得特技	</th><th>	全て	</th><th>	レベル4	</th></tr>
  <tr><th>	アビリティ	</th><th>	グループ	</th><th>	タイプ	</th><th>	反動	</th><th>	指定特技	</th><th>	対象	</th><th>	効果	</th></tr>
  <tr><td>	範囲攻撃</td><td>		ヌシ	</td><td>	攻撃	</td><td>	なし	</td><td>	任意	</td><td>	二体</td><td>	指定特技の判定に成功すると、二体までの目標に3点のダメージを与える。	</td></tr>
  <tr><td>	全体攻撃</td><td>		ヌシ	</td><td>	攻撃	</td><td>	なし	</td><td>	任意	</td><td>	全体	</td><td>	指定特技の判定に成功すると、目標に1点のダメージを与える。連続した手番には使用できない。	</td></tr>
  <tr><td>	恒常性	</td><td>	ヌシ	</td><td>	常駐	</td><td>	-	</td><td>	-	</td><td>	自身	</td><td>	変調を受けているとき、自分の手番の前に1D6を振る。その出目が受けている変調の数以下ならば、任意の変調を１つ解除できる。	</td></tr>
  <tr><td>	習性	</td><td>	ヌシ	</td><td>	常駐	</td><td>	-	</td><td>	-	</td><td>	自身	</td><td>	その戦闘中に条件を満たした時、追加行動を得る。条件：床にPLのダイスが落ちた時。	</td></tr>
  <tr><td>	コア	</td><td>	ヌシ	</td><td>	常駐	</td><td>	-	</td><td>	-	</td><td>	自身	</td><td>	死亡判定のダイスを１つ増やす。弱点として「身体部位」を１つ指定する。弱点に部位ダメージが入るとこの効果は失われる。	指定部位：感覚器</td></tr>
  <tr><td>	牙	</td><td>	ケモノ	</td><td>	補助	</td><td>	2	</td><td>	-	</td><td>	-	</td><td>	命中判定に組み合わせて使用する。ダメージを2点増加させる。	</td></tr>
  <tr><td>	咆哮	</td><td>	ケモノ	</td><td>	攻撃	</td><td>	2	</td><td>	《叫ぶ》	</td><td>	全体	</td><td>	指定特技の判定に成功すると、目標に『麻痺』の変調を与える。	</td></tr>
  <tr><td>	鱗（外骨格）	</td><td>	ムシ	</td><td>	常駐	</td><td>	-	</td><td>	-	</td><td>	自身	</td><td>	あなたの受けるダメージを1点軽減する。	</td></tr>

  </table>

  <h2>結果フェイズ</h2>
  <h3>戦闘に勝利した場合</h3>
  <p>隣のキャンプと合同でパーティです。</p>
  <p>モリヤン▽「一回水に沈んじまったけど、キミたちのところへ避難できたおかげで、みんな無事だよ。
  まずは、掃除からやりなおしだな！」</p>
  <p>（田んぼを守った場合）「炊きたての米、食ってくれ！　苦労したんだ、本当に流されなくてよかったよ。
  お礼に、半分あんたたちにも分けるよ。育て方、イチから教えてやるからな！」<br>
  報酬として、「畑：1レベル」を獲得できます。（既にある場合はレベルがあがる）
  </p>

  <p><strong>報酬として、各キャラクターは12J以下のアイテムを１つ獲得できます。また、4点のCPをキャンプは獲得します。</strong></p>
  <p>セッションを終了して、経験点の計算を行なって下さい。</p>
  </section><!--sample2-->
