h2 追加ルール
p 追加されたルールです。一部のルールのみを使用するといったことも可能です。
h3#success-point 成功度 
p 行為判定を行ったとき、[達成値から目標値を引いた値]が成功度になります。
p 例えば目標値5のとき、達成値6なら成功度1、達成値5なら成功度0、達成値4なら成功度マイナス1となります。 ファンブルのときは成功度マイナス10、スペシャルの時は成功度10になります。
h3#random-skill ランダムな特技の決定
p 最初に1d6を振り、分野を決定した後、2D6を振り出目に対応した特技を決定します。 分野は「1:技術」「2:頭部」「3:腕部」「4:胴部」「5:脚部」「6:環境」になります。
h3#wisdom-and-innovative 知恵と工夫
p #[a(href="#check-pl-proposal") プレイヤーの提案による判定特技の変更]に【知恵と工夫】と名付け、回数制限をもうけるルールです。
p #[strong 各プレイヤーは１セッション中に１回ずつ]、【知恵と工夫】の宣言を行うことができるとします。
p 判定特技の変更はPLの工夫次第でどんな特技でも指定特技にすることが出来てしまい、特技を取得している意味が薄れてしまう場合があります。
  | また、プレイ時間の増加を招いてしまう欠点もあります。このルールの使用でむやみな特技変更は不可能になり、上記のデメリットを軽減することができます。
p 【知恵と工夫】による特技の変更は、#[strong そのサイクルまたはラウンド間]有効とします。
  | 【知恵と工夫】が使用された判定に対して他のPCが挑戦する場合、 #[strong 《元々の指定特技》と《【知恵と工夫】による変更後の指定特技》のどちらか好きな特技]を使って判定を行うことができます。
p: strong PCがファンブルをするごとに、そのPCのプレイヤーは【知恵と工夫】を行うことができる回数が１回増えます。
p 例：回避判定の《指定特技》が《噛む》だったとします。 「今は森の中で戦闘している。木々に隠れて回避するということで《隠れる》での判定に変更したい」とプレイヤーAが【知恵と工夫】を提案しました。 GMは納得し、プレイヤーAの【知恵と工夫】を承認します。 プレイヤーAがまだセッション中ファンブルを降っていなかった場合、以降このセッション中、プレイヤーAは自PCがファンブルを振るまで新たに【知恵と工夫】を提案することはできません。
p また、同じラウンド中にプレイヤーBのPCが《指定特技》が《噛む》の回避判定を行うとします。 この時、プレイヤーBのPCは《噛む》か《隠れる》どちらか好きなほうの特技を《指定特技》として回避判定を行うことができます。
h3#escape 撤退の指定特技変更
p 戦闘からの撤退の《指定特技》を《逃げる》固定ではなく、ラウンドごとに「#[a(href="#random-skill") ランダムな特技の決定]」で決定します。
h3#guardian-spirit 死者の助け
p 死亡したキャラクターは、1サイクルまたは1ラウンドに1回、誰かがダイスを振った直後に『死者の助け』を行うことができます。
p 死亡したキャラクターは、各サイクルまたはラウンドの開始時（何かの処理を行うより前）に、1D6を振ります。これを『死者ダイス』と呼びます。 そのサイクルまたはラウンドの間に1回だけ、誰かが振ったダイス1個を、死者ダイスと入れ替えることができます。 入れ替えた後の出目を参照して、判定などの処理を続行してください。 判定だけでなく、何かの表や、スペシャル時の気力回復量など、どのダイスに対しても死者の助けを行うことができます。
h3#pvp PvPルール
h4 先制判定
p PvPを行う場合、先制判定の成功度が高い順に行動を行います。
h4 同時行動
p もしも成功度が同じキャラクターがいた場合、同時行動となります。 便宜的に処理の順番はゲームマスターに近い位置のプレイヤーから行いますが、 ゲーム内では同時に行ったものとして扱います。
p 同時攻撃が発生した場合、その成功度のキャラクター全員の行動の処理が終了した後に、 ダメージ、変調、その他行動の結果を適用して下さい。
p 例えば、先制判定の成功度が同じキャラクターAとBがいたとします。便宜的にAが先に 【スタンガン】を使って攻撃を行いました。それにより、Bは気力を1点消費して回避判定を行い、それにファンブルしました。 ファンブル表の結果は、気力が5点減ることでした。通常であれば、Bはダメージ2点を受けた上に『麻痺』の変調を受け、気力を6点減少させます。 しかし、同時攻撃の場合、それらの効果はBの攻撃の処理が終了するまで適用されません。