h2 目次 
ol
  li
    a(href='#scenario-craft') ランダム表を使ったシナリオ
  li
    a(href='#prologue') プロローグ表
  li
    a(href='#scene') シーン表
  li
    a(href='#obstacle') 障害表
  li
    a(href='#success-point') 成功度
  li
    a(href='#random-skill') ランダムな特技の決定
  li
    a(href='#wisdom-and-innovative') 知恵と工夫
  li
    a(href='#escape') 戦闘からの撤退の指定特技の変更
  li
    a(href='#get_exp') 経験点の入手・使用
  li
    a(href='#guardian-spirit') 死者の助け
  li
    a(href='#pvp') PVPルール
  li
    a(href='#get_trophy') 称号の入手
  li
    a(href='#trophy') 称号表
  li
    a(href='#trophy-ability') 称号アビリティ
  li
    a(href='#experience') 経験表
  li
    a(href='#charcter-backbone') 追加背景
  li
    a(href='#add-item') 追加アイテム
  li
    a(href='#add-ability') 追加アビリティ
  li
    a(href='#add-class') 追加クラス
  li
    a(href='#add-enemy') 追加エネミー
  li
    a(href='#camp-happening') キャンプフェイズハプニング表
  li
    a(href='#explorer-happening') 探索フェイズハプニング表
  li
    a(href='#special-initiative') 先制判定スペシャル表
  li
    a(href='#fumble-initiative') 先制判定ファンブル表
  li
    a(href='#field-attribute') フィールド特性表
  li
    a(href='#battle-field') 戦場表
  li
    a(href='#reincarnation') 輪廻転生表
  li
    a(href='#faq') FAQ

