h2#faq FAQ
dl
  dt Q.【魔法のかばん】を習得している状態で、リュックサックの中のアイテムを【お届け！】で他人に渡すことはできますか？
  dd A.可能です。ただし、相手の袋の中にいれることはできません。
  dt Q.商人の効果で複数のアイテムを買うときに【値切り】は使用できますか？
  dd A.購入するアイテム1つを選んで試みることができます。
  dt Q.所持Jより高いアイテムを【値引き】で買おうとして失敗した場合はどうなりますか？
  dd A.取引するアイテムの移動は何もおこりません。
  dt Q.リュックサックの中の食料を消費してカイヌシの【アビリティ】を使うことはできますか？
  dd A.戦闘中には不可能、探索フェイズには可能です。戦闘中に袋の中の食料を消費したい場合、「肩掛けカバン」や「手提げ袋」を使わなくてはなりません。
  dt Q. ヤセイジの【よつあし】の「装備していない場合」は『アイテムをひとつも持っていない場合』ですか？ それとも『武器をひとつも持っていない場合（所持していても袋の中にいれている等）』ですか？
  dd A. 何も装備していない場合です。キャラシートの装備欄が空白の場合になります。アイテムの所持はできますし、使用も可能です。

