//- 変数一覧
- var title="サプリメント Strange Fields  終末列島百景: LOST～廃墟の森の子供たち～"
-
  var backboneList = [
    {"name":"ペット","cp":"3","type":"常駐","effect":"アイテムの「ペット」を１つ入手する。あなたはペットを飼っている。このペットで買い物することはできない。"},
    {"name":"病気の身内","cp":"5","type":"割り込み","effect":"セッション中1度だけ、自身の振ったダイスを裏返すことができる(1ゾロならば6ゾロになる）。 あなたには家族同然に思っている人物がいる。その人物は病気である。貴方が守ってあげなくてはならない。 セッション終了時に、「コカの葉」など【体力】の回復するアイテムを消費しないと、病気の身内は死亡する。"},
    {"name":"駆逐系","cp":"15","type":"常駐","effect":"あなたは＜ヌシ＞に大切な人たちを蹂躙された過去がある。あなたの与えるダメージが1点上昇する。キャンプフェイズの行動で、墓参りを行うこと（演出だけしてパス扱い）。"},
    {"name":"親友","cp":"20","type":"常駐","effect":"	あなたはキャンプフェイズに2回行動できる。あなたには親友がいて、キャンプフェイズに準備を手伝ってくれる。"},
  ]
-
  var trophyList = [
    {"name":"パッション", "id": "passion", "description":"元気に熱くフィールドに向かっていったものに与えられる称号" },
    {"name":"クール","id": "cool", "description":"冷静に物事を見つめていたものに与えられる称号" },
    {"name":"ピンク","id": "pink", "description":"甘い雰囲気や恋をしていたものに与えられる称号" },
    {"name":"癒し", "id": "healer","description":"のんびり皆を和ませていたものに与えられる称号" },
    {"name":"スター","id": "star", "description":"大きな活躍をしたものに与えられる称号" },
    {"name":"ハシラ", "id": "pillar","description":"堅実に皆を支えていたものに与えられる称号。" },
    {"name":"サムライ", "id": "samurai", "description":"戦闘で活躍したものに与えられる称号。" },
    {"name":"シノビ","id": "sinobi", "description":"探索で活躍したものに与えられる称号。" },
    {"name":"ボケ", "id": "clown","description":"笑いで盛り上げたものに与えられる称号。" },
    {"name":"ツッコミ", "id": "thrust","description":"ボケに流されず軌道修正をきちんとしたものに与えられる称号。" },
    ]

  var trophyAbilityList = [
    {
      "name": "パッション",
      "id": "passion",
      "list": [
        {"name":"気合ため","group":"パッション","type":"支援","recoil":"2","specialty":"《叫ぶ》","target":"自身","effect":"指定特技の判定に成功すると、次に行う攻撃のダメージを2倍にする。"},
        {"name":"期待に応える","group":"パッション","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたが他者のアビリティやアイテムの効果で気力を獲得するときに余分に1点多く獲得できる。"},
        //- {"name":"まだまだっ","group":"パッション","type":"割込み","recoil":"2","specialty":"《跳ぶ》","target":"自身","effect":"エネミーを倒したときに使用できる。指定特技の判定に成功すると、追加行動を得る。"},
        //- {"name":"ファイト一発","group":"パッション","type":"割込み","recoil":"3","specialty":"なし","target":"単体","effect":"対象の判定の直後に使用。達成値をプラス2する。シナリオ1回。"},

      ]
    },
    {
      "name": "クール",
      "id": "cool",
      "list": [
        {"name":"完璧な振る舞い","group":"クール","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ダイスを振る前に宣言することで判定を自動成功する。成功度は1として扱う。シナリオ１回。"},
        {"name":"手間をかけさせるな","group":"クール","type":"割込み","recoil":"5","specialty":"《掴む》","target":"単体","effect":"自身以外がファンブルを振った時に割込んで使用する。指定特技の判定に成功した場合、対象はファンブル表を振らなくてもよい。"},
        //- {"name":"計算通り","group":"クール","type":"割込み","recoil":"5","specialty":"《見つける》","target":"自身","effect":"自身がファンブルを振った時に割込んで使用する。指定特技の判定に成功した場合、判定は成功となる"},

      ]
    },
    {
      "name": "ピンク",
      "id": "pink",
      "list": [
        {"name":"秘密のレッスン","group":"ピンク","type":"割込み","recoil":"3","specialty":"《伝える》","target":"単体","effect":"対象が判定を行う直前に割込んで使用できる。指定特技の判定に成功すると、対象が行う次の判定の間のみアビリティ使用者の所持している特技を習得させる。"},
        {"name":"真っ赤な誓い","group":"ピンク","type":"割込み","recoil":"3","specialty":"《閃く》","target":"単体","effect":"指定特技の判定に成功すると、対象にキャラクター1人のダメージを肩代わりさせる"},
      ]
    },
    {
      "name": "癒し",
      "id": "healer",
      "list": [
        {"name":"暖かい時間","group":"癒し","type":"常駐","recoil":"-","specialty":"-","target":"単体","effect":"休憩表であなたが選んだ相手、もしくはあなたを選んだ相手は【気力】を1点増加させる。"},
        {"name":"のんびりお散歩","group":"癒し","type":"割込み","recoil":"2","specialty":"《歩く》","target":"自身","effect":"探索フェイズにいつでも割込んで使用できる。指定特技の判定に成功すると、あなたは休憩表を一回振る"},
      ]
    },
    {
      "name": "スター",
      "id": "star",
      "list": [
        {"name":"ピンチのときほど","group":"スター","type":"割込み","recoil":"3","specialty":"《閃く》","target":"自身","effect":"ファンブルを振った時に使用できる。指定特技の判定に成功すると、ファンブルをスペシャルに変更する。シナリオ1回。"},
        {"name":"チャンスは逃さない","group":"スター","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたが命中判定でスペシャルをしたとき、与えるダメージにプラス1D6する"},
      ]
    },
    {
      "name": "ハシラ",
      "id": "pillar",
      "list": [
        {"name":"支度","group":"ハシラ","type":"割込み","recoil":"6","specialty":"《休まない》","target":"単体","effect":"対象はキャンプフェイズで行える行動を、キャンプにいるものとして一度だけ行える。シナリオ1回。"},
        {"name":"一歩ずつ","group":"ハシラ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ギャップを1列塗りつぶすことができる。塗りつぶされたギャップは代用判定の際数えない。"},
      ]
    },
    {
      "name": "サムライ",
      "id": "samurai",
      "list": [
        {"name":"気炎万丈","group":"サムライ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【気力】が【気力基準値】以上の場合、与えるダメージにプラス1点する"},
        {"name":"後の先","group":"サムライ","type":"割込み","recoil":"2","specialty":"《待つ》","target":"自身","effect":"先制判定に割込んで使用する。指定特技の判定に成功すると、先制判定を振らず、行動順が後攻となる。ラウンドの間、命中判定の達成値にプラス1点。与えるダメージにプラス2点する。"},
      ]
    },
    {
      "name": "シノビ",
      "id": "sinobi",
      "list": [
        {"name":"身代わりの術","group":"シノビ","type":"割込み","recoil":"8","specialty":"《隠れる》","target":"単体","effect":"自身が【棍棒】を装備している場合、部位ダメージが発生したときに割込んで使用できる。指定特技の判定に成功した場合、自身が装備している【棍棒】を破壊して部位ダメージを打ち消す。"},
        {"name":"二重罠","group":"シノビ","type":"割込み","recoil":"2","specialty":"《罠》","target":"単体","effect":"対象の変調が解除されたときに割込んで使用する。指定特技の判定に成功すると、対象に1点のダメージを与える"},
      ]
    },
    {
      "name": "ボケ",
      "id": "clown",
      "list": [
        {"name":"ウェーイ！","group":"ボケ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"スペシャルを振った時、【気力】がさらに1D6増加する"},
        {"name":"ひっさつわざ！","group":"ボケ","type":"攻撃","recoil":"1d6","specialty":"ランダム","target":"単体","effect":"指定特技の判定に成功すると対象に[装備している武器1つの攻撃力+(反動で消費した気力×1d3)]点のダメージを与える。"},
      ]
    },
    {
      "name": "ツッコミ",
      "id": "thrust",
      "list": [
        {"name":"鋭い視点","group":"ツッコミ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"暴露の変調を受けている対象へ与えるダメージにプラス1点する。"},
        {"name":"待った！","group":"ツッコミ","type":"割込み","recoil":"6","specialty":"《刺す》","target":"単体","effect":"タイプが【割込み】のアビリティが使用されたときに割込んで使用する。指定特技の判定に成功するとそのアビリティの効果を打ち消す。シナリオ回数制限のあるアビリティは打ち消せない。"},
      ]
    },
    ]

-
  var experienceList = [
    {"d66":"11","a":"変貌","b":"あなたは目が覚めたら変わってしまっていた。外見、性格、体質……。5年前の自分を今はどう思うだろう。"},
    {"d66":"12","a":"守るべきもの","b":"あなたはキャンプに大切なものができた。親友、ペット、場所など。"},
    {"d66":"13","a":"兄弟","b":"あなたには兄弟/姉妹がいた。今は何をしているだろう。"},
    {"d66":"14","a":"形見","b":"あなたは大切だった人の形見を大事に持っている。今際の際のその人の言葉は……。"},
    {"d66":"15","a":"放浪","b":"あなたが以前居たキャンプは壊滅してしまった。このキャンプでやりなおせるだろうか。"},
    {"d66":"16","a":"忘却","b":"あなたには抜け落ちた記憶がある。思い出さなくてはいけないことか、思い出してはいけないことか。"},
    {"d66":"22","a":"望郷","b":"あなたの故郷は遠い。いつか帰ることができるだろうか。"},
    {"d66":"23","a":"恩人","b":"あなたはとある人物に危機を救われたことがある。その人は今……。"},
    {"d66":"24","a":"喪失","b":"あなたは何かを失った。それを、取り戻したいと思っている。"},
    {"d66":"25","a":"飢え","b":"あなたは空腹で死にそうになったことがある。家に帰れば夕食が待っていた頃が夢のようだ。"},
    {"d66":"26","a":"生き別れ","b":"あなたは大切な人と生き別れになった。彼もきっと生きていると信じている。"},
    {"d66":"33","a":"恋","b":"あなたは恋に落ちた。あの人の顔を見るだけで胸が高鳴った。"},
    {"d66":"34","a":"夢","b":"あなたには夢があった。その夢は今は叶えられるものだろうか。"},
    {"d66":"35","a":"トラウマ","b":"あなたは心に傷をおった。暗闇、水、炎、怒号、死、あなたに降りかかったのは？"},
    {"d66":"36","a":"復讐","b":"あなたは理不尽に奪われた。ヌシだったろうか、それとも同じヒトだっただろうか。あなたの脳裏にはヤツの姿が焼き付いている。"},
    {"d66":"44","a":"探求","b":"あなたには探し求めているものがある。それはあなたにとって、命をかけるに足るものだ。"},
    {"d66":"45","a":"孤独","b":"あなたはひとりぼっちだった時期がある。今はどうだろうか。"},
    {"d66":"46","a":"師","b":"あなたに道を示してくれた人がいる。いまのあなたがあるのは彼のおかげだ。"},
    {"d66":"55","a":"罪","b":"あなたは罪を犯したことがある。許される日はくるのだろうか。"},
    {"d66":"56","a":"感謝","b":"あなたは大きく感謝されることをしたことがある。"},
    {"d66":"66","a":"死","b":"あなたは死んだ、はずだった。しかし何故かあなたは今、生きている。"},

  ]
-
  var strangeFieldsItemList = [
    {"name":"行商人の背負い袋","j":"40","weight":"6","type":"道具","area":"-","specialty":"-","target":"-","trait":"袋","effect":"総重量40まで袋の中にアイテムを入れることができる。袋の中のアイテムの重量は所持限界から無視する。回避判定にマイナス1の修正がつく。商人御用達の特大の背負い袋。"},
    {"name":"猟銃","j":"30","weight":"6","type":"装備","area":"両手","specialty":"《撃つ》","target":"単体","trait":"武器、射撃","effect":"攻撃力5。防御力無視ダメージを与える。弾が必要。装備している間、回避判定にプラス2の修正がつく。"},
    {"name":"弾","j":"5","weight":"0","type":"道具","area":"-","specialty":"-","target":"-","trait":"消耗品、使用回数：10","effect":"これを所持していないと猟銃の効果をうけることができない。猟銃で命中判定を行うごとに1消費する。"},
    {"name":"弓","j":"5","weight":"3","type":"装備","area":"両手","specialty":"《撃つ》","target":"単体","trait":"武器、射撃","effect":"攻撃力3。矢が必要。装備している間、回避判定にプラス2の修正がつく。ハンター専用。"},
    {"name":"ダーツ","j":"12","weight":"1","type":"装備","area":"片手","specialty":"《投げる》","target":"単体","trait":"武器、射撃","effect":"攻撃力1。割り込みのタイミングで攻撃することが可能。手番は消費しない。投げた後、手元から失われる。戦闘終了後に回収できる。バランスの取れた投射用の短刀。"},
    {"name":"手斧","j":"6","weight":"2","type":"装備","area":"片手","specialty":"《斬る》《投げる》","target":"単体","trait":"武器、射撃","effect":"攻撃力2。《投げる》を使って判定した場合、手元から失われる。支援行動で回収できる。"},
    {"name":"ダガーナイフ","j":"6","weight":"1","type":"装備","area":"片手","specialty":"《刺す》","target":"単体","trait":"武器、白兵","effect":"攻撃力1。先制判定の達成値にプラス1の修正がつく。この武器は割込みのタイミングで装備できる。取り回しやすい本格的なナイフ。"},
    {"name":"農具","j":"15","weight":"6","type":"装備","area":"両手","specialty":"《振る》","target":"単体","trait":"武器、白兵、収納不可","effect":"攻撃力5。死神が振るうような鎌、或いは、大地を耕す鍬。"},
    {"name":"大盾","j":"10","weight":"6","type":"装備","area":"両手","specialty":"《走る》","target":"単体","trait":"武器、白兵、防具、収納不可","effect":"攻撃力3。命中判定の達成値にマイナス2の修正がつく。装備している間、回避判定にプラス2の修正がつく。"},
    {"name":"おしゃれな服","j":"1","weight":"2","type":"装備","area":"胴部","specialty":"-","target":"-","trait":"防具","effect":"こんな世界でも身だしなみを大切に。"},
    {"name":"アクセサリ","j":"2","weight":"1","type":"装備","area":"任意","specialty":"-","target":"-","trait":"防具","effect":"任意の部位に装備することができる。お気に入りの逸品。"},
    {"name":"魚肉","j":"1","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可、食料","effect":"魚肉。足が早いので、すぐに干物にすべし。"},
    {"name":"硬い鱗","j":"1","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"固くて大きな鱗。齢を経たサカナほど刻まれる年輪は多くなる"},
    {"name":"虹色の鱗","j":"1","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"透明感のある虹色の鱗。宝石代わりに装飾品に使われる。"},
  ]
- 
   strangeFieldsClassList =  [
    {        name: "アキンド", 
            image: "akindo.png", 
      description: "他人との交渉のみならず、道具の扱いにも習熟しているあきんど。"
    },
    {        name: "カイヌシ", 
            image: "kainusi.png", 
      description: "獣使い。一匹のパートナーと共に戦うものもいれば、多くの動物を操るものもいる。"
    },
    {        name: "オガミヤ", 
            image: "ogamiya.png", 
      description: "占い師や巫女、神父などの神秘的な力をもっているクラス。"
    },
    {        name: "アイドル", 
            image: "idol.png", 
      description: "歌って踊って明るく皆を励ますムードメーカー。"
    },
    {        name: "ヤセイジ", 
            image: "yaseizi3.png", 
      description: "森に生きる者。人語を解するケモノもこのクラスとなる。"
    },
  ]

-
  var strangeFieldsAbilityList = [
    {
      "name": "汎用グループ",
      "id": "general",
      "list": [
        {"name":"休息","group":"汎用","type":"支援","recoil":"0","specialty":"《休む》","target":"自身","effect":"指定特技の判定に成功すると、自身の【気力】を[気力基準値÷2]点回復する。"},
      ]
    },
    {
      "name": "ビッグ",
      "id": "big",
      "list": [
        {"name":"強靭","group":"ビッグ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"死亡判定の達成値にプラス1の修正がつく。"},
      ]
    },
    {
      "name": "チビ",
      "id": "little",
      "list": [
        {"name":"大樹の陰","group":"チビ","type":"割込み","recoil":"3","specialty":"《かわす》","target":"自身","effect":"対象：全体の攻撃の命中判定後に使用する。指定特技の判定に成功すると、攻撃対象から自身を外すことが出来る。"},
      ]
    },
    {
      "name": "オトナ",
      "id": "adult",
      "list": [
        {"name":"昔とった杵柄","group":"オトナ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"オトナ以外のクラスの【アビリティ】を1つ取得する。タイプ：常駐のアビリティおよびエネミーアビリティは取得できない。"},
      ]
    },
    //- {
    //-   "name": "ニューエイジ",
    //-   "id": "newage",
    //-   "list": [

    //-   ]
    //- },
    {
      "name": "キズモノ",
      "id": "wounded",
      "list": [
        {"name":"凶運","group":"キズモノ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"自分の行う行為判定はゾロ目で成功した場合スペシャル、ゾロ目で失敗した場合ファンブルになる。"},
      ]
    },
    {
      "name": "センシ",
      "id": "fighter",
      "list": [
        {"name":"捨て身","group":"センシ","type":"補助","recoil":"1","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。【体力】を1d6点消費する。[消費した体力]点のダメージを追加する。体力が0未満になるようには消費できない。"},
      ]
    },
    {
      "name": "スカウト",
      "id": "scout",
      "list": [
        {"name":"撹乱","group":"スカウト","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"組み合わせた攻撃が命中した場合、対象はそのラウンドの間、【対象：全体】のアビリティが使えなくなる。"},

      ]
    },
    {
      "name": "ハンター",
      "id": "hunter",
      "list": [
        {"name":"猟師","group":"ハンター","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"探索フェイズにあなたが食料を手に入れる時、余分に1J得ることができる。また、戦闘中以外の支援行動で1J(実質2J）手に入れることができるようになる。"},

      ]
    },
    {
      "name": "ハカセ",
      "id": "professor",
      "list": [
        {"name":"秀才","group":"ハカセ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【気力】を5点消費することで、あなたは全ての《特技》の隣に《雑学》があるものとして代用判定できる（つまり、《雑学》での目標値が6となる）。"},

      ]
    },
    //- {
    //-   "name": "ショクニン",
    //-   "id": "worker",
    //-   "list": [

    //-   ]
    //- },
    {
      "name": "ホープ",
      "id": "hope",
      "list": [
        {"name":"奥の手","group":"ホープ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"1サイクル（ラウンド）だけ、任意の【アビリティ】を1つ取得する。セッション中一度だけ使用出来る。エネミーアビリティは取得できない。"},

      ]
    },
    //- {
    //-   "name": "ママ",
    //-   "id": "mama",
    //-   "list": [
    //-   ]
    //- },
    {
      "name": "アキンド",
      "id": "merchant",
      "list": [
        {"name":"値切り","group":"アキンド","type":"割込み","recoil":"3","specialty":"《斬る》","target":"アイテム","effect":"アイテムを1つ買う時に割り込んで使用する。成功するとそのアイテムの価格を[成功度]J引き下げる。価格の最低値は0。成功度0のときは1J安く買える。"},
        {"name":"お届け！","group":"アキンド","type":"割込み","recoil":"3","specialty":"《投げる》","target":"単体","effect":"指定特技の判定に成功すると、自身の所持しているアイテムを1つ目標に渡す。ただしそれを渡すことによって相手が所持限界を超えてしまう場合にはこの判定は必ず失敗する。「肩掛けカバン」「手提げ袋」以外の袋の中のものを渡すことはできない。"},
        {"name":"おおかばん","group":"アキンド","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"所持限界を3増やす。"},
        {"name":"魔法のかばん","group":"アキンド","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたは「肩掛けカバン」「手提げ袋」以外の袋でも、袋の中のアイテムをすでに取り出しているかのように扱える。"},
        {"name":"時は金なり","group":"アキンド","type":"割込み","recoil":"5","specialty":"《閃く》","target":"アイテム","effect":"指定特技の判定に成功すると、あなたはタイプが支援のアイテムを割込みのタイミングで使用出来る。"},
        {"name":"人脈","group":"アキンド","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたには冒険商人の仲間がいる。セッション中1度だけ、探索フェイズにその商人からアイテムを1つ買うことができる。"},

      ]
    },
    {
      "name": "カイヌシ",
      "id": "tamer",
      "list": [
        {"name":"森へおかえり","group":"カイヌシ","type":"割込み","recoil":"3","specialty":"《伝える》","target":"全体","effect":"使用時に食料を[敵の数÷2]個消費する。指定特技の判定に成功すると、敵を森に帰らせ戦闘を終了させることができる。＜ヌシ＞との戦闘では使用できない。"},
        {"name":"群れ攻撃","group":"カイヌシ","type":"攻撃","recoil":"0","specialty":"《叫ぶ》","target":"単体","effect":"食料を2つ消費する。指定特技の判定に成功すると、2点のダメージを与える。さらに『捕縛』の変調を与える。群れに指示し、敵にまとわりつかせる。"},
        {"name":"食料調達","group":"カイヌシ","type":"支援","recoil":"3","specialty":"自由","target":"自身","effect":"指定特技の判定に成功すると、[1D6]Jを得る。"},
        {"name":"相棒","group":"カイヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたは《相棒》の特技を追加で習得する。判定直前に食料を1つ消費した場合、あなたは全ての《特技》の隣に《相棒》があるものとして代用判定を行える（つまり、目標値が6となる）。あなたが最初に部位ダメージを受けるとき、それを無効化する代わりにこのセッション中【相棒】は使用不能となる。"},
        {"name":"おつかい","group":"カイヌシ","type":"支援","recoil":"1","specialty":"《相棒》","target":"自身","effect":"指定特技の判定に成功した場合、アイテムを1つ選ぶ。あなたは価格の2倍個の食料を消費してそのアイテムを即座に入手できる。"},
        {"name":"コンビネーション","group":"カイヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【相棒】のアビリティが使用可能な時、あなたの与えるダメージは1点増加する。"},

      ]
    },
    {
      "name": "オガミヤ",
      "id": "sherman",
      "list": [
        {"name":"呪術","group":"オガミヤ","type":"攻撃","recoil":"3","specialty":"《歌う》","target":"単体","effect":"指定特技の判定に成功すると、対象に『毒』の変調を与える。"},
        {"name":"結界","group":"オガミヤ","type":"支援","recoil":"3","specialty":"《地理》","target":"全体","effect":"そのラウンド中、味方の命中判定と回避判定にプラス1の修正を与える。"},
        {"name":"星見","group":"オガミヤ","type":"支援","recoil":"5","specialty":"《見つける》","target":"単体","effect":"キャンプフェイズ・探索フェイズに使用出来る。指定特技の判定に成功すると、サイコロを6個振り、好きな順番で左から右へ一列に並べる。今後、行為判定を行うたびに2D6を振る代わりに左から順に2個ずつサイコロをとり、その出目がでたものとして扱う。この効果は6個のサイコロを使い切るまで（行為判定を3回行うまで）持続する。"},
        {"name":"遠見","group":"オガミヤ","type":"支援","recoil":"5","specialty":"《鑑定》","target":"単体","effect":"ヌシに『暴露』の変調を与える。戦闘中以外にも使用可能。"},
        {"name":"未来視","group":"オガミヤ","type":"割込み","recoil":"3","specialty":"《予感》","target":"単体","effect":"ファンブルが発生した時に使用出来る。指定特技の判定に成功すると、その判定を振り直す。"},
        {"name":"兎歩","group":"オガミヤ","type":"支援","recoil":"2","specialty":"《歩く》","target":"単体","effect":"指定特技の判定に成功すると、対象がそのラウンド中に獲得した追加行動を1回分減らす。"},

      ]
    },
    {
      "name": "アイドル",
      "id": "idol",
      "list": [
        {"name":"貴方だけの歌","group":"アイドル","type":"支援","recoil":"5","specialty":"《歌う》","target":"単体","effect":"戦闘中には使用不可。自身には使用できない。指定特技の判定に成功すると、対象の【気力】を2D6点増加させる。"},
        {"name":"ファンクラブ","group":"アイドル","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"キャンプフェイズでの行動回数が１回増える。"},
        {"name":"応援歌","group":"アイドル","type":"支援","recoil":"5","specialty":"《歌う》","target":"全体","effect":"指定特技の判定に成功すると、そのサイクル（ラウンド）の間、自身を含む味方全員の行為判定にプラス１の修正を与える。"},
        {"name":"ダンスレッスン","group":"アイドル","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"脚部の両側２列のギャップ（DE)を塗りつぶす。塗りつぶされたギャップは代用判定の際数えない。"},
        {"name":"天性の輝き","group":"アイドル","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【アビリティ】の反動にマイナス1する。0未満にはならない。"},
        {"name":"熱狂のビート","group":"アイドル","type":"支援","recoil":"5","specialty":"《歌う》","target":"全体","effect":"戦闘中にのみ使用可能。指定特技の判定に成功すると、そのラウンドの間、味方全員の命中判定とダメージにプラス１の修正を与える。"},

      ]
    },
    {
      "name": "ヤセイジ",
      "id": "wild",
      "list": [
        {"name":"ケモノの力","group":"ヤセイジ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ケモノグループのアビリティを1つ選んで習得する。【ケモノの力：鋭角】のように指定し、指定アビリティごとに別のアビリティとして扱う。これによって習得したアビリティは反動が1点増加する。"},
        {"name":"森の申し子","group":"ヤセイジ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"探索フェイズのサイクル開始時に、[現在の経過サイクル]点の【気力】を増加させる。"},
        {"name":"抜刀牙","group":"ヤセイジ","type":"攻撃","recoil":"本文","specialty":"《噛む》","target":"単体","effect":"指定特技の判定に成功した場合、1D6点のダメージを与える。攻撃終了後、この1D6と同じだけの気力を失う。判定に失敗した場合にも1D6点の気力を消費する。"},
        {"name":"よつあし","group":"ヤセイジ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"何も装備していない場合、あなたの与えるダメージが1点増加する。また、回避判定にプラス1の修正がつく。"},
        {"name":"おたけび","group":"ヤセイジ","type":"支援","recoil":"1","specialty":"《叫ぶ》","target":"自身","effect":"以降、ラウンド開始時に1D6を振る。その出目の数だけ、【気力】を消費する。その出目の数だけ、そのラウンドにあなたの与えるダメージが増加する。この効果はあなたが『無力化』状態になるまで持続する。"},
        {"name":"超回復","group":"ヤセイジ","type":"割込み","recoil":"5","specialty":"《塞ぐ》","target":"自身","effect":"指定特技の判定に成功すると、自身の【体力】が1D6点増加する。"},
      ]
    },
  ]
-
  var strangeFieldsEnemyAbilityList = [
    {"name":"麻痺毒","group":"ムシ","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。対象に『麻痺』の変調を与える。"},
    {"name":"蜘蛛の巣","group":"ムシ","type":"支援","recoil":"2","specialty":"《罠》","target":"全体","effect":"指定特技の判定に成功すると、戦闘中回避判定に失敗した対象に『捕縛』の変調を与える。この効果は支援行動で、《斬る》の判定に成功するか、「たいまつ」を消費するまで持続する。"},
    {"name":"甲羅","group":"ムシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたはダメージを受ける時、先にそのダメージの命中部位を決める。胴部分野の《身体部位》に攻撃が命中した場合、そのダメージを3点軽減する。"},
    {"name":"吸血","group":"ムシ","type":"攻撃","recoil":"3","specialty":"《消化器》","target":"単体","effect":"指定特技の判定に成功すると対象にダメージを1d6点与え、自分の【体力】を同じだけ回復する。"},
    {"name":"大鋏","group":"ムシ","type":"攻撃","recoil":"5","specialty":"《掴む》","target":"単体","effect":"指定特技の判定に成功すると対象にダメージを1d6点与える。ダメージダイスで１つでも6の出目がでた場合、攻撃後、対象の【体力】が1以上でも部位ダメージとなる。"},
    {"name":"強酸","group":"ムシ","type":"攻撃","recoil":"5","specialty":"《掴む》","target":"単体","effect":"指定特技の判定に成功すると、1点のダメージを与える。このダメージは軽減されない。さらに対象の装備1つの効果を1点下げる。キャンプに【工房】があれば、キャンプに戻った時点で装備を元の状態に戻すことができる。"},
    {"name":"翼","group":"ケモノ","type":"支援","recoil":"3","specialty":"《罠》","target":"全体","effect":"指定特技の判定に成功すると、戦場をランダムに変更することができる。最初に1d6を振って奇数なら戦場表A、偶数なら戦場表Bを使う。"},
    {"name":"おおぶり","group":"ケモノ","type":"補助","recoil":"3","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。命中判定にマイナス1の修正がつき、ダメージが3点増加する。"},
    {"name":"切り裂き","group":"ケモノ","type":"攻撃","recoil":"3","specialty":"《斬る》","target":"単体","effect":"指定特技の判定に成功すると対象にダメージを2点与え、1点でもダメージが通れば『重傷』の変調を与える。"},
    {"name":"尾の鞭","group":"ケモノ","type":"攻撃","recoil":"6","specialty":"《振る》","target":"本文","effect":"指定特技の判定に成功すると2体の対象にダメージを2点与えるか、単体に2点のダメージを2回与える。"},
    {"name":"飛びかかり","group":"ケモノ","type":"攻撃","recoil":"4","specialty":"《跳ぶ》","target":"単体","effect":"指定特技の判定に成功すると対象にダメージを4点と、『転倒』の変調を与える。"},
    {"name":"誘い込み","group":"ケモノ","type":"攻撃","recoil":"3","specialty":"《追い込む》","target":"単体","effect":"指定特技の判定に成功すると、目標の特技リストから「腕部」分野の特技を１つランダムに使用不能にする。この効果は重複する。"},
    {"name":"骨の体","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"指定特技が《斬る》《刺す》の攻撃のダメージを2点軽減する。"},
    {"name":"肉の鎧","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"指定特技が《殴る》の攻撃のダメージを2点軽減する。"},
    {"name":"樹の体","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ラウンドの終わりに1D6点【体力】が回復する。自身が受けた【炎上】により減少する値が2倍になる。"},
    {"name":"不定形","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"命中部位決定表の7が出た時、自身の任意の部位を選んでよい。"},
    {"name":"機械の体","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"『毒』の変調を無効化する。【充電】の必要な装備を装備している場合、常に充電されているものとして扱う。"},
    {"name":"つぎはぎ","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"回避判定を行う代わりに任意の部位に部位ダメージをうけることで回避判定に成功したことにできる。また、生死判定にプラス1の修正がつく。"},
    {"name":"追加肢","group":"ミュータント","type":"攻撃","recoil":"0","specialty":"自由","target":"単体","effect":"指定特技の判定に成功すると、組み合わせた補助アビリティの効果が発動する。このアビリティと組み合わせた補助アビリティの反動は1少ないものとして扱う。"},
    {"name":"追加目","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"命中判定にプラス1の修正がつく。"},
    {"name":"電撃","group":"ミュータント","type":"攻撃","recoil":"2","specialty":"自由","target":"単体","effect":"攻撃が成功すると目標に3点のダメージを与えさらに『麻痺』の変調を与える。"},
    {"name":"硬質化","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ダメージを受けるとラウンド終了まで、次以降に受けるダメージを2点軽減する。この修正は累積する。"},
    {"name":"鉄塊","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"追加行動で行う攻撃のダメージにプラス4の修正がつく。"},
    {"name":"悪臭","group":"ミュータント","type":"攻撃","recoil":"3","specialty":"《消化器》","target":"全体","effect":"指定特技の判定に成功すると、ランダムに変調を1つ与える。"},
    {"name":"無反動","group":"特殊","type":"常駐","recoil":"-","specialty":"-","target":"-","effect":"習得している【アビリティ】を１つ選ぶ。その反動を0にする。ヌシは取得できない。"},
    {"name":"装備","group":"特殊","type":"常駐","recoil":"-","specialty":"-","target":"-","effect":"装備を１つ選ぶ。それを所持していることになる。"},

  ]

-
  var strangeFieldsMutationList = [
    {"d6":"1","a":"大アゴ","b":"麻痺毒",  "c":"体当たり",  "d":"翼",          "e":"撹乱音波", "f":"追加肢"},
    {"d6":"2","a":"毒針",  "b":"蜘蛛の巣","c":"噛みつき",  "d":"おおぶり",    "e":"鋼鱗"  ,   "f":"追加目"},
    {"d6":"3","a":"外骨格","b":"甲羅",    "c":"突撃",      "d":"切り裂き",    "e":"ドリル" ,  "f":"電撃"  },
    {"d6":"4","a":"飛行",  "b":"大鋏",    "c":"鋭角",      "d":"尾の鞭",      "e":"火炎放射", "f":"硬質化"},
    {"d6":"5","a":"大鎌",  "b":"吸血",    "c":"牙",        "d":"飛びかかり",  "e":"冷気",     "f":"鉄塊"  },
    {"d6":"6","a":"触手",  "b":"強酸",    "c":"咆哮",      "d":"誘い込み",    "e":"腐敗",     "f":"悪臭"  },
  ]

-
  var strangeFieldsEnemyList = [
    {"name":"ダーツフィッシュ","lv":"1","group":"ムシ","stamina":"1","willpower":"3","specialties":"《刺す》《泳ぐ》","abilities":"【体当たり：泳ぐ】【鋭角】","drop":"サカナA","comment":"水辺に生息する肉食魚。近寄った獲物に尖った鼻先を突き刺す。"},
    {"name":"スカイナイフ","lv":"2","group":"ムシ","stamina":"3","willpower":"5","specialties":"《斬る》《泳ぐ》","abilities":"【体当たり：泳ぐ】【牙】","drop":"サカナA","comment":"空中を泳ぐように飛ぶ肺魚の一種。鋭いカッターのようなヒレと牙で獲物を切り刻む。"},
    {"name":"ヒトトリギングモ","lv":"6","group":"ムシ","stamina":"15","willpower":"15","specialties":"《罠》《噛む》《投げる》《※感覚器》《※呼吸器》","abilities":"【大アゴ】【大鎌】【外骨格】【蜘蛛の巣】【メタルフレーム】","drop":"銀の糸（5J,1W)","comment":"銀色の巨大クモ。巣をはらず、歩きまわって獲物を探す。"},
    {"name":"ベニガルトラ","lv":"4","group":"ケモノ","stamina":"14","willpower":"9","specialties":"《跳ぶ》《噛む》《斬る》《かわす》《隠れる》","abilities":"【噛みつき】【切り裂き】【よつあし】","drop":"甲羅（6J、5W)＋生肉(1J,1W,食料）×5","comment":"台のようなカタチをした甲羅をもつ大きな亀。フィールドをのんびり歩いている。"},
    {"name":"フミダイオオガメ","lv":"5","group":"ケモノ","stamina":"20","willpower":"8","specialties":"《耐える》《噛む》《振る》《休まない》《歩く》","abilities":"【噛みつき】【怪力】【よつあし】【甲羅】","drop":"甲羅（6J、5W)＋生肉(1J,1W,食料）×5","comment":"台のようなカタチをした甲羅をもつ大きな亀。フィールドをのんびり歩いている。"},
    {"name":"ネムリゴケグマ","lv":"5","group":"ケモノ","stamina":"20","willpower":"10","specialties":"《殴る》《噛む》《休む》《動かない》《聴く》","abilities":"【肉の鎧】【鉄拳】【怪力】【おおぶり】","drop":"ケモノA×2","comment":"巨大な身体のクマ。丸々と太って、あまり動かない。道を塞いでいることがしばしばあり邪魔。とある歌を歌うと起きて周りの物を食べ始める。"},
    {"name":"スケルトンティラノ","lv":"5","group":"ミュータント","stamina":"10","willpower":"5","specialties":"《休まない》《噛む》《捕らえる》《走る》《投げる》","abilities":"【骨の体】【大アゴ】【体当たり：走る】【死亡判定】","drop":"硬い骨（棍棒相当）×10","comment":"様々な骨が組み合わさって動いている、まさに動く骨格標本。生きているものを追いかける習性がある。"},
  ]
-
  var strangeFieldsDropList = [
    {"d6":"1","f":"なし","g":"なし"},
    {"d6":"2","f":"なし","g":"なし"},
    {"d6":"3","f":"魚肉(1J、1W、食料)","g":"魚肉(1J、1W、食料)"},
    {"d6":"4","f":"魚肉(1J、1W、食料)","g":"魚肉(1J、1W、食料)"},
    {"d6":"5","f":"硬い鱗(1J、1W)","g":"硬い鱗(1J、1W)"},
    {"d6":"6","f":"硬い鱗(1J、1W)","g":"虹色の鱗(2J、1W)"},
  ]

- 
  var campHappeningList = [
     {"2d6":"2",   "a": "突然の天災。キャンプの施設1つがランダムに破壊される。"},
     {"2d6":"3",   "a": "施設の老朽化がひどい。誰か一人が《塞ぐ》の判定を行う。 失敗すると、キャンプの施設1つのレベルが1下がる。0になった場合その施設は破壊される。"},
     {"2d6":"4",   "a": "キャンプの仲間が一人いなくなった。 全員の【気力】が1d6点減少する。"},
     {"2d6":"5",   "a": "キャンプの仲間と言い争いになる。 あなたは《伝える》の判定を行う。 失敗した場合、あなたの【気力】が2d6点減少する。（1未満にはならない）"},
     {"2d6":"6",   "a": "突然、森の動物がキャンプを襲う。 あなたは《捕らえる》の判定を行う。 失敗すると、1d6点のダメージを受ける。成功した場合1Jを得る。"},
     {"2d6":"7",   "a": "ヒャッハー系キャンプの襲撃！ 倉庫のアイテムが1d6個失われる。 倉庫に何もない場合、施設1つがランダムに破壊される。"},
     {"2d6":"8",   "a": "キャンプの施設が傷んでいる。補修をしなければ。 結果フェイズで得られるCPが1点減少する。"},
     {"2d6":"9",   "a": "キャンプの中で仲のいいヤツと喧嘩をしてしまう。気分は最悪だ。 あなたが次に行う判定で振ったダイスの大きい方の出目を1にする。"},
     {"2d6":"10",   "a": "ヒャッハー系キャンプと小競り合いを起こす。 全員の【体力】がそれぞれ1d3点減少する。"},
     {"2d6":"11",   "a": "水と食料を失ってしまう。あなたは《探索》の判定を行う。 失敗するとリミットが１減少する。"},
     {"2d6":"12",   "a": "突然の急病。このセッションでリミットを迎えた場合、キャンプの人材1人がランダムに失われる。"},
  ]

- 
  var explorerHappeningList = [
     {"2d6":"2",   "a": "突然のスランプ。 このセッションの間、習得している特技が１つランダムで未習得になる。"},
     {"2d6":"3",   "a": "空腹が襲ってくる。あなたは《耐える》の判定を行う。失敗した場合、つまみ食いをしてしまう。 あなたは1D6点【気力】が増加する。あなた以外の仲間は【気力】が1D6点減少する。"},
     {"2d6":"4",   "a": "仲間とはぐれてしまう。あなたは《現れる》の判定を行う。 失敗した場合、合流に時間がかかり、次のサイクルもしくは戦闘で、あなたは行動済みの状態ではじめる。"},
     {"2d6":"5",   "a": "思わぬ怪我をする。2点のダメージをうける。"},
     {"2d6":"6",   "a": "食べたものが腐っていたのか。あなたは《消化器》の判定を行う。失敗した場合、あなたは『毒』の変調を受ける。"},
     {"2d6":"7",   "a": "突然足元が崩れる。あなたは《バランス》の判定を行う。失敗した場合、『転倒』の変調を受け、1点のダメージを受ける。部位ダメージを受ける場合、命中部位は「利き脚」となる。「利き脚」に既にダメージを受けている場合は2d6を振って命中部位を改めて決める。"},
     {"2d6":"8",   "a": "あっ。手に持ったものを川に落としそうになる。 《掴む》の判定に失敗すると、右手か左手の装備を１つ失う。"},
     {"2d6":"9",   "a": "胸騒ぎがする。あなたは《予感》の判定を行う。 失敗すると、あなたが次に行う判定で振ったダイスの大きい方の出目を1にする。"},
     {"2d6":"10",   "a": "偶然、仲間があなたについての悪口を言っているのを聞いてしまう。 あなたの【気力】が1D6点減少する。"},
     {"2d6":"11",   "a": "水と食料を失ってしまう。あなたは《探索》の判定を行う。 失敗するとリミットが１減少する。"},
     {"2d6":"12",   "a": "突然のスランプ！ このセッションの間、習得しているアビリティを１つ選んで未習得にする。"},
  ]

- 
  var sceneList = [
    {"d66":"11",   "a": "LED電灯が道を照らす、何の不自由もない道。何故、ここはまだ文明が残っている？"},
    {"d66":"12",   "a": "無数のパイプが、錆びついた設備を繋ぐ工場跡。昔は何を作っていたのだろう。"},
    {"d66":"13",   "a": "かつて、数えきれないほどの人が暮らしていたはずの、今は誰もいない街並み。"},
    {"d66":"14",   "a": "瓦礫の山の中、今なお残る建物は、既に無数の植物に覆われていた。"},
    {"d66":"15",   "a": "茶色いレールが遠くへ続いている。どこまで続いているのか確かめる暇はない。"},
    {"d66":"16",   "a": "様々な場所に、生物の痕跡が残っている。きっとここは、何かの住処なのだろう。"},
    {"d66":"22",   "a": "全身を原初の恐怖が支配する。見渡す限りの血の跡と、無残に転がる白骨死体。"},
    {"d66":"23",   "a": "ここだけは、静寂が支配している。死者の眠りを妨げることなかれ。"},
    {"d66":"24",   "a": "橋が架かっている。もし下に落ちてしまえば、もう二度と帰れない。"},
    {"d66":"25",   "a": "昼でも夜のような、薄暗い森。振り返れば、今まで来た道は闇に溶けて見える。"},
    {"d66":"26",   "a": "まるで大地が引き裂かれて作られたような、深い谷底の道を歩く。"},
    {"d66":"33",   "a": "照りつける太陽は熱く、ひび割れたアスファルトから陽炎がゆらめく。"},
    {"d66":"34",   "a": "どこまで続くか分からない森の中を進むと、開けた場所に出た。"},
    {"d66":"35",   "a": "意識を刈り取るような、ただひたすらに蒸し暑い密林。汗がしたたり落ちる。"},
    {"d66":"36",   "a": "小高い丘のような場所に出た。ここからキャンプは見えるだろうか？"},
    {"d66":"44",   "a": "古い焚火の痕跡を見つけた。他のキャンプの冒険者がここを通ったらしい。"},
    {"d66":"45",   "a": "騒音が絶え間なく響く。獣の声か、風の音か、それともヌシの咆哮か。"},
    {"d66":"46",   "a": "険しい岩場を踏み越えて、道なき道を突き進む。"},
    {"d66":"55",   "a": "近くに滝があるらしい。水の落ちる音が聞こえ、空気は清らかな水気を含んでいる。"},
    {"d66":"56",   "a": "土は痩せ、生命の息吹はどこにも見えない、枯れ果てた大地が続く。"},
    {"d66":"66",   "a": "煮えたぎる溶岩、魂を焼く硫黄の臭い、5年前の恐怖。ここは火山、滅亡と死の象徴。"},
  ]

-
  var obstacleList = [
    {"d666":"1-2","specialty":"《追跡》","comment":"迷いの森、迷宮のような洞窟、先に進むためにはアナイウサギのあとを追わなければ迷ってしまう。さて、足あとはどこだろう……。"},
    {"d666":"1-3","specialty":"《探索》","comment":"鍵のかかった扉、目印の看板、先に進むために鍵となるものを見つける必要がある。"},
    {"d666":"1-4","specialty":"《鑑定》","comment":"瞳の失われたモアイ像が道の先をみている。石版によるとここに正しい宝石をはめ込むと先に進めるようだ。問題は、似たような石が山のように落ちていることだが。"},
    {"d666":"1-5","specialty":"《手当》","comment":"花畑の中を通る道。この花の花粉には毒があるようだ。予防のために必要なのはなんだっただろう。この障害の突破判定に失敗したものは『毒』の変調をうける。"},
    {"d666":"1-6","specialty":"《雑学》","comment":"どんなに力を込めても動かない大石が道を塞ぐ。テコの原理はどのように使えばよかっただろう。"},
    {"d666":"1-7","specialty":"《機械》","comment":"放置された自動車、コイツさえ動けば、この危険なムシの群れの中を突破できるんだ。"},
    {"d666":"1-8","specialty":"《作る》","comment":"この谷を超えるには、ハングライダーを作らないとな。"},
    {"d666":"1-9","specialty":"《科学》","comment":"目的地はダムの底に沈んでいるらしい。ニトログリセリンを調合して堰を吹きとばそう。"},
    {"d666":"1-10","specialty":"《料理》","comment":"アナイウサギが腹ペコで動けなくなっている。気にいる料理を作って食べさせれば進むべき道へ向かってくれるだろう。"},
    {"d666":"1-11","specialty":"《伝える》","comment":"この先へ進むためのメモは暗号だ。メモのヌシが伝えたいことをくみとることができるだろうか。"},
    {"d666":"1-12","specialty":"《歌う》","comment":"障害の突破に成功するとネムリゴケグマと戦闘になる。ネムリゴケグマが道を塞いで寝こけている。目覚めの歌を歌えば起きて君たちを朝ごはんにしようと向かってくる。"},
    {"d666":"2-2","specialty":"《聴く》","comment":"次の＜チェックポイント＞への目印は川だ。今は見えないが、耳を澄ませばその音が……。この障害を突破した後、次の＜チェックポイント＞に[リミット増加用オブジェクト：川]が追加させる。"},
    {"d666":"2-3","specialty":"《※感覚器》","comment":"暗闇を進まなければならない。五感を研ぎ澄ませ。この突破判定に失敗したものは1点のダメージを受ける。また、明かりをもっていれば判定不要で突破したことになる。"},
    {"d666":"2-4","specialty":"《見つける》","comment":"方角を完全に見失ってしまった。空を見あげれば、そこに導き星が……満天の星空の中から見つけ出さなくては。"},
    {"d666":"2-5","specialty":"《反応》","comment":"スカイナイフの群れが飛び交う道。上手くさばきながら進まなければ。この突破判定に失敗したものは3点のダメージを受ける。"},
    {"d666":"2-6","specialty":"《閃く》","comment":"茨のような植物が、道一面を覆っている。これをなんとかする方法は？"},
    {"d666":"2-7","specialty":"《※脳》","comment":"リドルの遺跡。重く閉ざされた石の扉を開くには石版を正しくはめこまなければ。"},
    {"d666":"2-8","specialty":"《考える》","comment":"複雑に入り組んだ道。選ぶ道を間違えるともとの道に戻ってきてしまう。"},
    {"d666":"2-9","specialty":"《予感》","comment":"樹上のオトシザルが木の実を無作為に落としてくる。次に何処に落ちるか、勘にたよって進め。この突破判定に失敗した者は2点のダメージを受ける。"},
    {"d666":"2-10","specialty":"《叫ぶ》","comment":"コウモリイヌの群れと遭遇。威嚇して追い払わなければならない。突破判定に失敗した場合、コウモリイヌ3体と戦闘になる。この戦闘に勝てばこの障害は突破したことにしてよい。"},
    {"d666":"2-11","specialty":"《※口》","comment":"この先は全身を使って進まなければならない。装備は咥えて運ぶ。この突破判定に失敗すると、所持品を１つランダムに失う。"},
    {"d666":"2-12","specialty":"《噛む》","comment":"蔦に絡め取られた時計塔。次への道はこの地下の隠し通路の先だ。もう一度鐘を鳴らすために、歯車を噛ませなければ。"},
    {"d666":"3-2","specialty":"《操作》","comment":"急流をいかだで渡れ。"},
    {"d666":"3-3","specialty":"《殴る》","comment":"脆い壁に隔たれた道。迂回する道は崩れている。壁を破って進め。"},
    {"d666":"3-4","specialty":"《斬る》","comment":"巨大な蜘蛛の巣が道を阻む。"},
    {"d666":"3-5","specialty":"《※利き腕》","comment":"巨大な木、斜めに傾いた鉄塔。目的地はその上を進んだ先だ。登れ。"},
    {"d666":"3-6","specialty":"《撃つ》","comment":"斜面を登らなければならないがチヌレガラスがこちらを見ている。撃ち落としてから進め。この突破判定に失敗したものは『重傷』の変調を受ける。"},
    {"d666":"3-7","specialty":"《掴む》","comment":"垂れ下がる蔦、高速道路跡からぶら下がるケーブル。掴んで登れ。"},
    {"d666":"3-8","specialty":"《投げる》","comment":"向こう岸の枝に蔦を投げて引っ掛けて渡れ。「ロープ」を持っている場合、この突破判定の達成値にプラス1の修正がつく。"},
    {"d666":"3-9","specialty":"《※逆腕》","comment":"ゴツゴツした岩場の崖、崩れかけたビル。目的地はその上を進んだ先だ。登れ。"},
    {"d666":"3-10","specialty":"《刺す》","comment":"手がかりのない幹。竹槍をさして足場を作れ。"},
    {"d666":"3-11","specialty":"《振る》","comment":"蔦を揺らし、身体を大きく振って向こう岸に飛び移れ。"},
    {"d666":"3-12","specialty":"《締める》","comment":"枝を組み、蔦を強く締め上げ、先へと渡すハシゴを作れ。"},
    {"d666":"4-2","specialty":"《塞ぐ》","comment":"毒ガスの噴き出る穴が道を阻む。塞いで進め。この突破判定に失敗したものは『毒』の変調を受ける。"},
    {"d666":"4-3","specialty":"《※呼吸器》","comment":"水没した洞窟。大きく息を吸って、先へ。"},
    {"d666":"4-4","specialty":"《止める》","comment":"フミダイオオガメが歩いている。動きを止めて、背中を使わせてもらおう。判定に失敗すると、フミダイオオガメ1体との戦闘になる。この戦闘に勝利すると突破判定に成功したことにしてよい。"},
    {"d666":"4-5","specialty":"《動かない》","comment":"ヒトトリギングモが近くを徘徊している。通り過ぎるまで待とう。この突破判定に失敗すると1D6点のダメージを受ける。この障害が配置された時、オブジェクト「ヒトトリギングモ」がそのチェックポイントに配置される。誰かがこれに接触した場合、全員で戦闘を行い勝利したら突破に成功したことにしてもよい。"},
    {"d666":"4-6","specialty":"《受ける》","comment":"段差を降りた狭い足場の周りには刺の生えた花が開いている。この狭い足場で仲間を受け止めなければ。1人での冒険の場合、この障害は判定を行わず突破したことにしてよい。"},
    {"d666":"4-7","specialty":"《※心臓》","comment":"長い長い坂道。心臓破りの坂。"},
    {"d666":"4-8","specialty":"《逸らす》","comment":"ベニガルトラが潜む森。気を逸らして駆け抜けろ。突破判定に失敗するとベニガルトラ1体と戦闘になる。この戦闘に勝利すれば障害を突破したことにしてよい。"},
    {"d666":"4-9","specialty":"《かわす》","comment":"ダーツフィッシュの群れる水辺。避けながら進め。突破判定に失敗したものは2点のダメージをうける。"},
    {"d666":"4-10","specialty":"《落ちる》","comment":"次のチェックポイントは穴の底を通った先。うまく下りて進め。突破判定に失敗したものは『転倒』の変調を受ける。"},
    {"d666":"4-11","specialty":"《※消化器》","comment":"次のチェックポイントまでの道は暑くじめじめとして食べ物が腐りやすい。腐ってはいないだろうか。突破判定に失敗したものは『毒』の変調を受ける。"},
    {"d666":"4-12","specialty":"《耐える》","comment":"ひどく暑い道をゆく。突破判定に失敗したものは【気力】が1D6点減少する。この効果で1未満にはならない。"},
    {"d666":"5-2","specialty":"《泳ぐ》","comment":"水没した街。とび地のようになっているビルの屋上を中継に泳いで進め。"},
    {"d666":"5-3","specialty":"《走る》","comment":"スケルトンティラノに追いかけられる。突破判定に失敗するとスケルトンティラノと戦闘になる。この戦闘が終了すると、突破判定に成功したことになる。"},
    {"d666":"5-4","specialty":"《蹴る》","comment":"岩場、傾いたビルの壁を進む。上手く蹴って進め。"},
    {"d666":"5-5","specialty":"《※利き脚》","comment":"あかない扉、先を塞ぐ大木、蹴り倒して進め。"},
    {"d666":"5-6","specialty":"《跳ぶ》","comment":"大きな地割れ。飛び越えなければ。失敗すると最後の一歩が踏み出せない。"},
    {"d666":"5-7","specialty":"《仕掛ける》","comment":"ベニガルトラをみつける。先に仕掛けて気を引いた隙に駆け抜けろ。突破判定に失敗するとベニガルトラ1体と戦闘になる。この戦闘に勝利すれば障害を突破したことにしてよい。"},
    {"d666":"5-8","specialty":"《しゃがむ》","comment":"スカイナイフが飛んでいるが、うまく身を隠せそうな溝が続いている。突破判定に失敗したものは3点のダメージを受ける。"},
    {"d666":"5-9","specialty":"《※逆脚》","comment":"ゆらゆらと揺れる大きなハスの葉の上をバランスよく飛び移って進め。"},
    {"d666":"5-10","specialty":"《滑る》","comment":"砂利の多い斜面。滑って転ばないように進め。突破判定に失敗したものは『転倒』の変調をうける。"},
    {"d666":"5-11","specialty":"《踏む》","comment":"フミダイオオガメが歩いているのを高いところから見下ろす。この上を踏んでいけばうまく進めるだろう。"},
    {"d666":"5-12","specialty":"《歩く》","comment":"長い長い道。諦めずに歩こう。"},
    {"d666":"6-2","specialty":"《地理》","comment":"複雑な地形が先への道を阻む。どのルートを選択すればよいだろう。"},
    {"d666":"6-3","specialty":"《休まない》","comment":"大岩が転がってくる。逃げ切れるところまで休まず走れ。この突破判定に失敗すると5点のダメージを受ける。"},
    {"d666":"6-4","specialty":"《待つ》","comment":"大雨が降る。ちょうど晴れるタイミングまで待たないと進めない。"},
    {"d666":"6-5","specialty":"《捕らえる》","comment":"先に進む鍵をネズミリスに奪われた。奪い返すこと。"},
    {"d666":"6-6","specialty":"《隠れる》","comment":"メタルビートルが歩いている。隠れてやりすごせ。"},
    {"d666":"6-7","specialty":"《休む》","comment":"果てしなく続く道。適当に休まなければ。突破判定に失敗すると、【気力】が2点減少する。"},
    {"d666":"6-8","specialty":"《バランス》","comment":"細い吊り橋のようになった電柱を渡る。うまくバランスをとること。"},
    {"d666":"6-9","specialty":"《現れる》","comment":"右も左も分からない茂みを抜けて。"},
    {"d666":"6-10","specialty":"《追い込む》","comment":"行き止まりばかりの道。アナイウサギを追い込んでゆけば、先へ続く道を教えてくれるだろう。"},
    {"d666":"6-11","specialty":"《逃げる》","comment":"ツノウサギの群れに遭遇。逃げろ。突破判定に失敗するとアナウサギ4D6体と戦闘になる。戦闘が終了したら、障害を突破したこととなる。"},
    {"d666":"6-12","specialty":"《罠》","comment":"天然か人工か罠だらけの道。突破判定に失敗したものはランダムに『変調』を1つうける。"},

  ]
- 
  var fieldAttributeList = [
     {"d6":"1",   "a": "暗闇", "effect":"「ライト」や「たいまつ」などの明かりを持っていない限り、PCの行為判定にマイナス1の修正がつく。「たいまつ」は1サイクルで1つ消費される。"},
     {"d6":"2",   "a": "猛暑", "effect":"フィールド内はひどく暑く、体力を奪っていく。サイクルの終了時にPCの【体力】が1点減少する。この効果で1未満にはならない。"},
     {"d6":"3",   "a": "広漠", "effect":"フィールド内はとても広大だ。行けども行けども終わりの見えない地形に気が滅入る。サイクルの終了時に【気力】が1点減少する。この効果で1未満にはならない。"},
     {"d6":"4",   "a": "騒然", "effect":"フィールド内に生き物の気配が満ちている。移動のたびに、ランダムエンカウント表を2回振る。"},
     {"d6":"5",   "a": "死都", "effect":"生き物の気配に乏しい灰色の風景。ランダムエンカウントは発生しないがサイクルの終了時に【気力】と【体力】が2点減少する。この効果で1未満にはならない。"},
     {"d6":"6",   "a": "迷宮", "effect":"迷宮のように複雑なフィールドではとてもお腹がすく。2サイクルに1回、食料を1つ消費できなかったPCは【体力】と【気力】がそれぞれ1D6点減少する。この効果で1未満にはならない。"},
  ]

- 
  var battleFieldListA = [
     {"d6":"1",   "a": "暗闇", "b": "夜の戦闘や洞窟、窓のない屋内など。「ライト」や「たいまつ」などの明かりを持っていない限り、PCの行為判定にはマイナス1の修正がつく。"},
     {"d6":"2",   "a": "瓦礫", "b": "瓦礫の上や泥沼など足場の悪い場所。回避判定にマイナス2の修正がつく。"},
     {"d6":"3",   "a": "高所", "b": "ビルの上や樹状などの高い場所。ファンブルした者は1D6点のダメージを受け、未行動であればそのラウンドは行動済みとなる。【翼】を持っている者はこの効果を受けない。"},
     {"d6":"4",   "a": "領域", "b": "＜フィールド＞の中でも特に敵が得意とする地域。PCがファンブルするたびに、敵1体が追加行動を得る。"},
     {"d6":"5",   "a": "極寒", "b": "極寒の地や灼熱の地、毒ガスの中など。PCはラウンドの終了時に《耐える/胴部12》の判定を行い、失敗したら軽減不可の1D6点のダメージを受ける。この判定にはマイナス[経過ラウンド数]の修正がつく。"},
     {"d6":"6",   "a": "平地", "b": "開けた場所。特になし。"},
  ]
- 
  var battleFieldListB = [
     {"d6":"1",   "a": "商店", "b": "ショッピングモールやデパート跡など。この戦場で戦闘が始まった時、《探索/技術3》の判定に成功すると、「嗜好品」を手に入れることができる。"},
     {"d6":"2",   "a": "密林", "b": "密林や見通しの悪い屋内など。身を潜めて隙を伺うことで攻撃をあてやすくなる。命中判定にプラス1の修正がつく。"},
     {"d6":"3",   "a": "段差", "b": "崖や階段など高さに差がある場所。[特性：射撃]を使用している者の命中判定と回避判定にプラス1の修正がつく。"},
     {"d6":"4",   "a": "水場", "b": "浅い川や海辺など。支援行動で自身の『炎上』の変調を解除できる。"},
     {"d6":"5",   "a": "病院", "b": "病院や薬局跡など。薬品がいくつも残されている。《科学/技術9》の判定にプラス1の修正がつく。"},
     {"d6":"6",   "a": "屋内", "b": "廃墟となったビル内や体育館など。特になし。"},
  ]
- 
  var prologueList = [
     {"d6":"1",   "a": "不足", "b":"あなた達のキャンプにはまだまだ物資が足りない。新たなフィールドを開拓しよう。"},
     {"d6":"2",   "a": "救出", "b":"あなた達の知人がフィールドに囚われてしまった。助けにいかなければ。"},
     {"d6":"3",   "a": "排除", "b":"他のキャンプへと繋がる道にフィールドが発生した。分断されてしまうわけにはいかない。"},
     {"d6":"4",   "a": "拡大", "b":"フィールドの拡大にあなた達のキャンプが巻き込まれかねない。そうなる前に、フィールドを消さなければ。"},
     {"d6":"5",   "a": "因縁", "b":"あなた達の誰かが求めているものが、そのフィールドにはあるかもしれない。"},
     {"d6":"6",   "a": "存在", "b":"何故行くのか。そこにフィールドがあるからだ。"},
  ]

-
  var fumbleInitiativeList =[
     {"d6":"1",   "a": "敵１体が追加行動を得ます。"},
     {"d6":"2",   "a": "『転倒』の変調を受けます。"},
     {"d6":"3",   "a": "そのラウンドに行う行為判定にマイナス１の修正がつきます。"},
     {"d6":"4",   "a": "特になしです。"},
     {"d6":"5",   "a": "【気力】が1D6点減少します。"},
     {"d6":"6",   "a": "あなたは行動済になります。"},
  ]