//- 変数一覧
- var title="サプリメント Strange Fields  終末列島百景: LOST～廃墟の森の子供たち～"
-
  var backboneList = [
    {"name":"ペット","cp":"3","type":"常駐","specialty":"-","maxLv":"-","precondition":"","effect":"	アイテムの「ペット」を１つ入手する。あなたはペットを飼っている。このペットで買い物することはできない。"},
    {"name":"病気の身内","cp":"5","type":"割り込み","specialty":"-","maxLv":"-","precondition":"","effect":"	セッション中1度だけ、自身の振ったダイスを裏返すことができる(1ゾロならば6ゾロになる）。 あなたには家族同然に思っている人物がいる。その人物は病気である。貴方が守ってあげなくてはならない。 セッション終了時に、「コカの葉」など【体力】の回復するアイテムを消費しないと、病気の身内は死亡する。"},
    {"name":"親友","cp":"10","type":"常駐","specialty":"-","maxLv":"-","precondition":"","effect":"	あなたはキャンプフェイズに2回行動できる。あなたには親友がいて、キャンプフェイズに準備を手伝ってくれる。"},
  ]

- 
  var experienceList = [
    {"d66":"11","a":"変貌","b":"あなたは目が覚めたら変わってしまっていた。外見、性格、体質……。5年前の自分を今はどう思うだろう。"},
    {"d66":"12","a":"守るべきもの","b":"あなたはキャンプに大切なものができた。親友、ペット、場所など。"},
    {"d66":"13","a":"兄弟","b":"あなたには兄弟/姉妹がいた。今は何をしているだろう。"},
    {"d66":"14","a":"形見","b":"あなたは大切だった人の形見を大事に持っている。今際の際のその人の言葉は……。"},
    {"d66":"15","a":"放浪","b":"あなたが以前居たキャンプは壊滅してしまった。このキャンプでやりなおせるだろうか。"},
    {"d66":"16","a":"忘却","b":"あなたには抜け落ちた記憶がある。思い出さなくてはいけないことか、思い出してはいけないことか。"},
    {"d66":"22","a":"望郷","b":"あなたの故郷は遠い。いつか帰ることができるだろうか。"},
    {"d66":"23","a":"恩人","b":"あなたはとある人物に危機を救われたことがある。その人は今……。"},
    {"d66":"24","a":"喪失","b":"あなたは何かを失った。それを、取り戻したいと思っている。"},
    {"d66":"25","a":"飢え","b":"あなたは空腹で死にそうになったことがある。家に帰れば夕食が待っていた頃が夢のようだ。"},
    {"d66":"26","a":"生き別れ","b":"あなたは大切な人と生き別れになった。彼もきっと生きていると信じている。"},
    {"d66":"33","a":"恋","b":"あなたは恋に落ちた。あの人の顔を見るだけで胸が高鳴った。"},
    {"d66":"34","a":"夢","b":"あなたには夢があった。その夢は今は叶えられるものだろうか。"},
    {"d66":"35","a":"トラウマ","b":"あなたは心に傷をおった。暗闇、水、炎、怒号、死、あなたに降りかかったのは？"},
    {"d66":"36","a":"復讐","b":"あなたは理不尽に奪われた。ヌシだったろうか、それとも同じヒトだっただろうか。あなたの脳裏にはヤツの姿が焼き付いている。"},
    {"d66":"44","a":"探求","b":"あなたには探し求めているものがある。それはあなたにとって、命をかけるに足るものだ。"},
    {"d66":"45","a":"孤独","b":"あなたはひとりぼっちだった時期がある。今はどうだろうか。"},
    {"d66":"46","a":"師","b":"あなたに道を示してくれた人がいる。いまのあなたがあるのは彼のおかげだ。"},
    {"d66":"55","a":"罪","b":"あなたは罪を犯したことがある。許される日はくるのだろうか。"},
    {"d66":"56","a":"感謝","b":"あなたは大きく感謝されることをしたことがある。"},
    {"d66":"66","a":"死","b":"あなたは死んだ、はずだった。しかし何故かあなたは今、生きている。"},

  ]
-
  var strangeFieldsItemList = [
    {"name":"猟銃","j":"30","weight":"6","type":"装備","area":"両手","specialty":"《撃つ》","target":"単体","trait":"武器、射撃","effect":"攻撃力5。防御力無視ダメージを与える。弾が必要。装備している間、回避判定にプラス2の修正がつく。"},
    {"name":"弾","j":"5","weight":"0","type":"道具","area":"-","specialty":"-","target":"-","trait":"消耗品、使用回数：10","effect":"これを所持していないと猟銃の効果をうけることができない。猟銃で命中判定を行うごとに1消費する。"},
    {"name":"弓","j":"5","weight":"3","type":"装備","area":"両手","specialty":"《撃つ》","target":"単体","trait":"武器、射撃","effect":"攻撃力3。矢が必要。装備している間、回避判定にプラス2の修正がつく。ハンター専用。"},
    {"name":"おしゃれな服","j":"1","weight":"2","type":"装備","area":"胴部","specialty":"-","target":"-","trait":"防具","effect":"こんな世界でも身だしなみを大切に。"},
    {"name":"アクセサリ","j":"2","weight":"1","type":"装備","area":"任意","specialty":"-","target":"-","trait":"防具","effect":"任意の部位に装備することができる。お気に入りの逸品。"},

  ]
- 
   strangeFieldsClassList =  [
    {        name: "アキンド", 
            image: "akindo.png", 
      description: "他人との交渉のみならず、道具の扱いにも習熟しているあきんど。"
    },
    {        name: "カイヌシ", 
            image: "kainusi.png", 
      description: "獣使い。一匹のパートナーと共に戦うものもいれば、多くの動物を操るものもいる。"
    },
    {        name: "オガミヤ", 
            image: "ogamiya.png", 
      description: "占い師や巫女、神父などの神秘的な力をもっているクラス。"
    },
    {        name: "アイドル", 
            image: "idol.png", 
      description: "歌って踊って明るく皆を励ますムードメーカー。"
    },
    {        name: "ヤセイジ", 
            image: "yaseizi3.png", 
      description: "森に生きる者。人語を解するケモノもこのクラスとなる。"
    },
  ]

-
  var strangeFieldsAbilityList = [
    {
      "name": "汎用グループ",
      "id": "general",
      "list": [
        {"name":"休息","group":"汎用","type":"支援","recoil":"0","specialty":"《休む》","target":"自身","effect":"指定特技の判定に成功すると、自身の【気力】を[気力基準値÷2]点回復する。"},
      ]
    },
    //- {
    //-   "name": "ビッグ",
    //-   "id": "big",
    //-   "list": [
    //-   ]
    //- },
    //- {
    //-   "name": "チビ",
    //-   "id": "little",
    //-   "list": [
    //-   ]
    //- },
    {
      "name": "オトナ",
      "id": "adult",
      "list": [
        {"name":"昔とった杵柄","group":"オトナ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"オトナ以外のクラスの【アビリティ】を1つ取得する。タイプ：常駐のアビリティおよびエネミーアビリティは取得できない。"},
      ]
    },
    //- {
    //-   "name": "ニューエイジ",
    //-   "id": "newage",
    //-   "list": [

    //-   ]
    //- },
    {
      "name": "キズモノ",
      "id": "wounded",
      "list": [
        {"name":"凶運","group":"キズモノ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"自分の行う行為判定はゾロ目で成功した場合スペシャル、ゾロ目で失敗した場合ファンブルになる。"},
      ]
    },
    {
      "name": "センシ",
      "id": "fighter",
      "list": [
        {"name":"捨て身","group":"センシ","type":"補助","recoil":"1","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。【体力】を1d6点消費する。[消費した体力]点のダメージを追加する。体力が0未満になるようには消費できない。"},
      ]
    },
    {
      "name": "スカウト",
      "id": "scount",
      "list": [
        {"name":"撹乱","group":"スカウト","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"組み合わせた攻撃が命中した場合、対象はそのラウンドの間、【対象：全体】のアビリティが使えなくなる。"},

      ]
    },
    {
      "name": "ハンター",
      "id": "hunter",
      "list": [
        {"name":"猟師","group":"ハンター","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"探索フェイズにあなたが食料を手に入れる時、余分に1J得ることができる。また、戦闘中以外の支援行動で1J(実質2J）手に入れることができるようになる。"},

      ]
    },
    {
      "name": "ハカセ",
      "id": "professor",
      "list": [
        {"name":"秀才","group":"ハカセ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【気力】を5点消費することで、あなたは全ての《特技》の隣に《雑学》があるものとして代用判定できる（つまり、《雑学》での目標値が6となる）。"},

      ]
    },
    //- {
    //-   "name": "ショクニン",
    //-   "id": "worker",
    //-   "list": [

    //-   ]
    //- },
    {
      "name": "ホープ",
      "id": "hope",
      "list": [
        {"name":"奥の手","group":"ホープ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"1サイクル（ラウンド）だけ、任意の【アビリティ】を1つ取得する。セッション中一度だけ使用出来る。エネミーアビリティは取得できない。"},

      ]
    },
    //- {
    //-   "name": "ママ",
    //-   "id": "mama",
    //-   "list": [
    //-   ]
    //- },
    {
      "name": "アキンド",
      "id": "merchant",
      "list": [
        {"name":"値切り","group":"アキンド","type":"割込み","recoil":"3","specialty":"《斬る》","target":"アイテム","effect":"アイテムを1つ買う時に割り込んで使用する。成功するとそのアイテムの価格を[成功度]J引き下げる。価格の最低値は0。成功度0のときは1J安く買える。"},
        {"name":"お届け！","group":"アキンド","type":"割込み","recoil":"3","specialty":"《投げる》","target":"単体","effect":"指定特技の判定に成功すると、自身の所持しているアイテムを1つ目標に渡す。ただしそれを渡すことによって相手が所持限界を超えてしまう場合にはこの判定は必ず失敗する。「肩掛けカバン」「手提げ袋」以外の袋の中のものを渡すことはできない。"},
        {"name":"おおかばん","group":"アキンド","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"所持限界を3増やす。"},
        {"name":"魔法のかばん","group":"アキンド","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたは「肩掛けカバン」「手提げ袋」以外の袋でも、袋の中のアイテムをすでに取り出しているかのように扱える。"},
        {"name":"時は金なり","group":"アキンド","type":"割込み","recoil":"5","specialty":"《閃く》","target":"アイテム","effect":"指定特技の判定に成功すると、あなたはタイプが支援のアイテムを割込みのタイミングで使用出来る。"},
        {"name":"人脈","group":"アキンド","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたには冒険商人の仲間がいる。セッション中1度だけ、探索フェイズにその商人からアイテムを1つ買うことができる。"},

      ]
    },
    {
      "name": "カイヌシ",
      "id": "tamer",
      "list": [
        {"name":"森へおかえり","group":"カイヌシ","type":"割込み","recoil":"3","specialty":"《伝える》","target":"全体","effect":"使用時に食料を[敵の数÷2]個消費する。指定特技の判定に成功すると、敵を森に帰らせ戦闘を終了させることができる。＜ヌシ＞との戦闘では使用できない。"},
        {"name":"群れ攻撃","group":"カイヌシ","type":"攻撃","recoil":"0","specialty":"《叫ぶ》","target":"単体","effect":"食料を2つ消費する。指定特技の判定に成功すると、2点のダメージを与える。さらに『捕縛』の変調を与える。群れに指示し、敵にまとわりつかせる。"},
        {"name":"食料調達","group":"カイヌシ","type":"支援","recoil":"3","specialty":"自由","target":"自身","effect":"指定特技の判定に成功すると、[1D6]Jを得る。"},
        {"name":"相棒","group":"カイヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたは《相棒》の特技を追加で習得する。判定直前に食料を1つ消費した場合、あなたは全ての《特技》の隣に《相棒》があるものとして代用判定を行える（つまり、目標値が6となる）。あなたが最初に部位ダメージを受けるとき、それを無効化する代わりにこのセッション中【相棒】は使用不能となる。"},
        {"name":"おつかい","group":"カイヌシ","type":"支援","recoil":"1","specialty":"《相棒》","target":"自身","effect":"指定特技の判定に成功した場合、アイテムを1つ選ぶ。あなたは価格の2倍個の食料を消費してそのアイテムを即座に入手できる。"},
        {"name":"コンビネーション","group":"カイヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【相棒】のアビリティが使用可能な時、あなたの与えるダメージは1点増加する。"},

      ]
    },
    {
      "name": "オガミヤ",
      "id": "sherman",
      "list": [
        {"name":"呪術","group":"オガミヤ","type":"攻撃","recoil":"3","specialty":"《歌う》","target":"単体","effect":"指定特技の判定に成功すると、対象に『毒』の変調を与える。"},
        {"name":"結界","group":"オガミヤ","type":"支援","recoil":"3","specialty":"《地理》","target":"全体","effect":"そのラウンド中、味方の命中判定と回避判定にプラス1の修正を与える。"},
        {"name":"星見","group":"オガミヤ","type":"支援","recoil":"5","specialty":"《見つける》","target":"単体","effect":"キャンプフェイズ・探索フェイズに使用出来る。指定特技の判定に成功すると、サイコロを6個振り、好きな順番で左から右へ一列に並べる。今後、行為判定を行うたびに2D6を振る代わりに左から順に2個ずつサイコロをとり、その出目がでたものとして扱う。この効果は6個のサイコロを使い切るまで（行為判定を3回行うまで）持続する。"},
        {"name":"遠見","group":"オガミヤ","type":"支援","recoil":"5","specialty":"《鑑定》","target":"単体","effect":"ヌシに『暴露』の変調を与える。戦闘中以外にも使用可能。"},
        {"name":"未来視","group":"オガミヤ","type":"割込み","recoil":"3","specialty":"《予感》","target":"単体","effect":"ファンブルが発生した時に使用出来る。指定特技の判定に成功すると、その判定を振り直す。"},
        {"name":"兎歩","group":"オガミヤ","type":"支援","recoil":"2","specialty":"《歩く》","target":"単体","effect":"指定特技の判定に成功すると、対象がそのラウンド中に獲得した追加行動を1回分減らす。"},

      ]
    },
    {
      "name": "アイドル",
      "id": "idol",
      "list": [
        {"name":"貴方だけの歌","group":"アイドル","type":"支援","recoil":"5","specialty":"《歌う》","target":"単体","effect":"戦闘中には使用不可。自身には使用できない。指定特技の判定に成功すると、対象の【気力】を2D6点増加させる。"},
        {"name":"ファンクラブ","group":"アイドル","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"キャンプフェイズでの行動回数が１回増える。"},
        {"name":"応援歌","group":"アイドル","type":"支援","recoil":"5","specialty":"《歌う》","target":"全体","effect":"指定特技の判定に成功すると、そのサイクル（ラウンド）の間、自身を含む味方全員の行為判定にプラス１の修正を与える。"},
        {"name":"ダンスレッスン","group":"アイドル","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"脚部の両側２列のギャップ（DE)を塗りつぶす。塗りつぶされたギャップは代用判定の際数えない。"},
        {"name":"天性の輝き","group":"アイドル","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【アビリティ】の反動にマイナス1する。0未満にはならない。"},
        {"name":"熱狂のビート","group":"アイドル","type":"支援","recoil":"5","specialty":"《歌う》","target":"全体","effect":"戦闘中にのみ使用可能。指定特技の判定に成功すると、そのラウンドの間、味方全員の命中判定とダメージにプラス１の修正を与える。"},

      ]
    },
    {
      "name": "ヤセイジ",
      "id": "wild",
      "list": [
        {"name":"ケモノの力","group":"ヤセイジ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ケモノグループのアビリティを1つ選んで習得する。【ケモノの力：鋭角】のように指定し、指定アビリティごとに別のアビリティとして扱う。これによって習得したアビリティは反動が1点増加する。"},
        {"name":"森の申し子","group":"ヤセイジ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"探索フェイズのサイクル開始時に、[現在の経過サイクル]点の【気力】を増加させる。"},
        {"name":"抜刀牙","group":"ヤセイジ","type":"攻撃","recoil":"本文","specialty":"《噛む》","target":"単体","effect":"指定特技の判定に成功した場合、1D6点のダメージを与える。攻撃終了後、この1D6と同じだけの気力を失う。判定に失敗した場合にも1D6点の気力を消費する。"},
        {"name":"よつあし","group":"ヤセイジ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"何も装備していない場合、あなたの与えるダメージが1点増加する。また、回避判定にプラス1の修正がつく。"},
        {"name":"おたけび","group":"ヤセイジ","type":"支援","recoil":"1","specialty":"《叫ぶ》","target":"自身","effect":"以降、ラウンド開始時に1D6を振る。その出目の数だけ、【気力】を消費する。その出目の数だけ、そのラウンドにあなたの与えるダメージが増加する。この効果はあなたが『無力化』状態になるまで持続する。"},
        {"name":"超回復","group":"ヤセイジ","type":"割込み","recoil":"5","specialty":"《塞ぐ》","target":"自身","effect":"指定特技の判定に成功すると、自身の【体力】が1D6点増加する。"},

      ]
    },
  ]
-
  var strangeFieldsEnemyAbilityList = [
    {"name":"麻痺毒","group":"ムシ","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。対象に『麻痺』の変調を与える。"},
    {"name":"蜘蛛の巣","group":"ムシ","type":"支援","recoil":"2","specialty":"《罠》","target":"全体","effect":"指定特技の判定に成功すると、戦闘中回避判定に失敗した対象に『捕縛』の変調を与える。この効果は支援行動で、《斬る》の判定に成功するか、「たいまつ」を消費するまで持続する。"},
    {"name":"甲羅","group":"ムシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたはダメージを受ける時、先にそのダメージの命中部位を決める。胴部分野の《身体部位》に攻撃が命中した場合、そのダメージを3点軽減する。"},
    {"name":"吸血","group":"ムシ","type":"攻撃","recoil":"3","specialty":"《消化器》","target":"単体","effect":"指定特技の判定に成功すると対象にダメージを1d6点与え、自分の【体力】を同じだけ回復する。"},
    {"name":"大鋏","group":"ムシ","type":"攻撃","recoil":"5","specialty":"《掴む》","target":"単体","effect":"指定特技の判定に成功すると対象にダメージを1d6点与える。ダメージダイスで１つでも6の出目がでた場合、攻撃後、対象の【体力】が1以上でも部位ダメージとなる。"},
    {"name":"強酸","group":"ムシ","type":"攻撃","recoil":"5","specialty":"《掴む》","target":"単体","effect":"指定特技の判定に成功すると、1点のダメージを与える。このダメージは軽減されない。さらに対象の装備1つの効果を1点下げる。キャンプに【工房】があれば、キャンプに戻った時点で装備を元の状態に戻すことができる。"},
    {"name":"翼","group":"ケモノ","type":"支援","recoil":"3","specialty":"《罠》","target":"全体","effect":"指定特技の判定に成功すると、戦場をランダムに変更することができる。最初に1d6を振って奇数なら戦場表A、偶数なら戦場表Bを使う。"},
    {"name":"おおぶり","group":"ケモノ","type":"補助","recoil":"3","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。命中判定にマイナス1の修正がつき、ダメージが3点増加する。"},
    {"name":"切り裂き","group":"ケモノ","type":"攻撃","recoil":"3","specialty":"《斬る》","target":"単体","effect":"指定特技の判定に成功すると対象にダメージを2点与え、1点でもダメージが通れば『重傷』の変調を与える。"},
    {"name":"尾の鞭","group":"ケモノ","type":"攻撃","recoil":"6","specialty":"《振る》","target":"本文","effect":"指定特技の判定に成功すると2体の対象にダメージを2点与えるか、単体に2点のダメージを2回与える。"},
    {"name":"飛びかかり","group":"ケモノ","type":"攻撃","recoil":"4","specialty":"《跳ぶ》","target":"単体","effect":"指定特技の判定に成功すると対象にダメージを4点と、『転倒』の変調を与える。"},
    {"name":"誘い込み","group":"ケモノ","type":"攻撃","recoil":"3","specialty":"《追い込む》","target":"単体","effect":"指定特技の判定に成功すると、目標の特技リストから「腕部」分野の特技を１つランダムに使用不能にする。この効果は重複する。"},
    {"name":"骨の体","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"指定特技が《斬る》《刺す》の攻撃のダメージを2点軽減する。"},
    {"name":"肉の鎧","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"指定特技が《殴る》の攻撃のダメージを2点軽減する。"},
    {"name":"樹の体","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ラウンドの終わりに1D6点【体力】が回復する。自身が受けた【炎上】により減少する値が2倍になる。"},
    {"name":"不定形","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"命中部位決定表の7が出た時、自身の任意の部位を選んでよい。"},
    {"name":"機械の体","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"『毒』の変調を無効化する。【充電】の必要な装備を装備している場合、常に充電されているものとして扱う。"},
    {"name":"つぎはぎ","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"回避判定を行う代わりに任意の部位に部位ダメージをうけることで回避判定に成功したことにできる。また、生死判定にプラス1の修正がつく。"},
    {"name":"追加肢","group":"ミュータント","type":"攻撃","recoil":"0","specialty":"自由","target":"単体","effect":"指定特技の判定に成功すると、組み合わせた補助アビリティの効果が発動する。このアビリティと組み合わせた補助アビリティの反動は1少ないものとして扱う。"},
    {"name":"追加目","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"命中判定にプラス1の修正がつく。"},
    {"name":"電撃","group":"ミュータント","type":"攻撃","recoil":"2","specialty":"自由","target":"単体","effect":"攻撃が成功すると目標に3点のダメージを与えさらに『麻痺』の変調を与える。"},
    {"name":"硬質化","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ダメージを受けるとラウンド終了まで、次以降に受けるダメージを2点軽減する。この修正は累積する。"},
    {"name":"鉄塊","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"追加行動で行う攻撃のダメージにプラス4の修正がつく。"},
    {"name":"悪臭","group":"ミュータント","type":"攻撃","recoil":"3","specialty":"《消化器》","target":"全体","effect":"指定特技の判定に成功すると、ランダムに変調を1つ与える。"},
    {"name":"無反動","group":"特殊","type":"常駐","recoil":"-","specialty":"-","target":"-","effect":"習得している【アビリティ】を１つ選ぶ。その反動を0にする。ヌシは取得できない。"},
    {"name":"装備","group":"特殊","type":"常駐","recoil":"-","specialty":"-","target":"-","effect":"装備を１つ選ぶ。それを所持していることになる。"},

  ]